@model InfomationPaginate

<div class="pagination p-3 d-flex justify-content-center">
	<div class="group_page d-flex justify-content-center position-relative">
		@{
			int totalPages = Model.TotalPages;
			int currentPage = Model.CurrentPage;
			int pageSize = Model.PageSize;

			string search = Model.FindText;
			string controller = Model.Controller;
			string action = Model.Action;

			if (totalPages == 1)
			{
				<a class="page_number active">1</a>
			}
			else
			{
				// Mũi tên trái
				if (currentPage > 1)
				{
					<a href="@Url.Action(action, controller, new { search = search, currentPage = currentPage - 1, pageSize = pageSize })" class="arrow" style="margin-left: 10px;">&#10094</a>
				}

				if (totalPages <= 10)
				{
					for (int i = 1; i <= totalPages; i++)
					{
						if (i == currentPage)
						{
							<span class="page_number active">@i</span>
						}
						else
						{
							<a href="@Url.Action(action, controller, new { search = search, currentPage = i, pageSize = pageSize })" class="page_number">@i</a>
						}
					}
				}
				else
				{
					int groupPage = 4;
					for (int i = 1; i <= groupPage; i++)
					{
						if (i == currentPage)
						{
							<a class="page_number active">@i</a>

						}
						else
						{
							<a href="@Url.Action(action, controller, new { search = search, currentPage = i, pageSize = pageSize })" class="page_number">@i</a>
						}
					}

					if (currentPage > groupPage && currentPage < (totalPages - groupPage + 1))
					{
						<a class="page_number cursor-pointer toggle_page_hidden bg-black text-white">
							<i class="fas fa-ellipsis-h"></i>
						</a>
					}
					else
					{
						<a class="page_number cursor-pointer toggle_page_hidden">
							<i class="fas fa-ellipsis-h"></i>
						</a>

					}

					<div class="page_hidden d-none position-absolute d-flex flex-wrap justify-content-start gap-0">
						@for (int i = groupPage + 1; i <= totalPages - groupPage; i++)
						{
							if (i == currentPage)
							{
								<a class="page_number active">@i</a>

							}
							else
							{
								<a href="@Url.Action(action, controller, new { search = search, currentPage = i, pageSize = pageSize })" class="page_number">@i</a>
							}
						}
					</div>

					for (int i = totalPages - groupPage + 1; i <= totalPages; i++)
					{
						if (i == currentPage)
						{
							<a class="page_number active">@i</a>

						}
						else
						{
							<a href="@Url.Action(action, controller, new { search = search, currentPage = i, pageSize = pageSize })" class="page_number">@i</a>
						}
					}
				}

				// Mũi tên phải
				if (currentPage < totalPages)
				{
					<a href="@Url.Action(action, controller, new { search = search, currentPage = currentPage + 1, pageSize = pageSize })" class="arrow" style="margin-left: 10px;">&#10095</a>
				}
			}
		}
	</div>
</div>