@inject IStringLocalizer<Translate> translate
@model Paginate_VM<TblMangrove>
@{
	var isEN = Helper.Func.IsEnglish();
	string pv = Helper.Path.partialView;
}

<div class="form_paginate">

	<!-- Search, Select and Buttons -->
	@await Html.PartialAsync($"{pv}/Both_PaginateNav.cshtml", Model.InfomationPaginate)

	<!-- Table -->
	<div class="wrapper_data rounded-3 overflow-hidden">
		<div class="table_responsive bg-white">
			<table class="table table-striped table-bordered mb-0 data_paginate"
				   controller="@Model.InfomationPaginate.Controller"
				   action="@Model.InfomationPaginate.Action"
				   sortType="@Model.InfomationPaginate.sortType"
				   sortFollow="@Model.InfomationPaginate.sortFollow">

				<!-- thead -->
				<thead>
					@await Html.PartialAsync($"{pv}/Both_PaginateTHead.cshtml", Model.InfomationPaginate)
				</thead>

				<tbody>
					<!-- Data -->
					@{
						var data = Model.DataPaginate;

						if (data.Count > 0)
						{
							long stt = (Model.InfomationPaginate.CurrentPage - 1) * Model.InfomationPaginate.PageSize + 1;
							foreach (var item in data)
							{
								<tr class="table_item position-relative">
									<td class="text-center">@(stt++)</td>
									<td>@(isEN ? item.NameEn : item.NameVi)</td>
									<td>@(isEN ? item.CommonNameEn : item.CommonNameVi)</td>
									<td>@item.ScientificName</td>
									<td>@item.Familia</td>
									<td class="text-center">@item.TblIndividuals.Count()</td>
									<td class="text-center">@item.UpdateLast.ToShortDateString()</td>

									<td class="text-center">
										<button type="button" class="btn_toggle_option px-2 border-none outline-none bg-black text-white rounded-1">
											<i class="fas fa-ellipsis-h"></i>
										</button>

										<ul class="list_option p-2 border rounded-1 d-none bg-white color-black">
											<li class="option_item text_blue_hover">
												<a href="@Url.Action("Page_Detail", Model.InfomationPaginate.Controller, new { id = item.Id })"
												   class="btn_loading"
												   onclick="@Helper.Link.JSSetUrlBack(Helper.Key.adminToPageListIndex)">
													<i class="fa-solid fa-circle-info"></i>
													<span>@translate["label_chi_tiet"]</span>
												</a>
											</li>

											<li class="option_item text_tree_hover">
												<a href="@Url.Action("Page_Edit", Model.InfomationPaginate.Controller, new { id = item.Id })"
												   class="btn_loading"
												   onclick="@Helper.Link.JSSetUrlBack(Helper.Key.adminToPageListIndex)">
													<i class="fas fa-edit"></i>
													<span>@translate["label_sua"]</span>
												</a>
											</li>

											<li class="option_item text_red_hover">
												<a href="@Url.Action("Page_Delete", Model.InfomationPaginate.Controller, new { id = item.Id })"
												   onclick="@Helper.Link.JSSetUrlBack(Helper.Key.adminToPageDelete) return confirm('@translate["label_text_xac_nhan_xoa"]');">
													<i class="fa-solid fa-trash"></i>
													<span>@translate["label_xoa"]</span>
												</a>
											</li>
										</ul>
									</td>
								</tr>
							}

							while (stt <= Model.InfomationPaginate.PageSize * (Model.InfomationPaginate.CurrentPage))
							{
								<tr>
									@foreach (var item in Model.InfomationPaginate.ListTitle)
									{
										<td>&nbsp;</td>
									}
								</tr>
								stt += 1;
							}
						}
						else
						{
							<tr class="text-center">
								<td colspan="@Model.InfomationPaginate.ListTitle.Count()">@translate["label_khong_tim_thay_ket_qua"]</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Pages -->
	@await Html.PartialAsync($"{pv}/Both_PaginateItemPages.cshtml", Model.InfomationPaginate)

</div>