@inject IStringLocalizer<Translate> translate
@model InfomationPaginate

<div class="nav_option my-3 d-flex flex-column flex-sm-row-reverse justify-content-between">
	<div class="d-flex justify-content-center justify-content-sm-end col-12 mb-2 mb-sm-0 col-sm-2">
		<a href="@Url.Action("Page_Create", Model.Controller)"
		   class="btn_new_item nav_btn rounded-1 border-none time_delay_500ms d-flex align-items-center justify-content-around bg-tree text-white outline_tree_hover bg_transparent_hover text_black_hover"
		   onclick="saveLinkBack.saveIndex();">
			<i class="fa-solid fa-plus"></i>
			@translate["label_them"]
		</a>
	</div>

	<form class="d-inline-flex flex-wrap justify-content-between justify-content-sm-start flex-sm-nowrap col-12 gap-2 gap-sm-1 gap-xl-2 col-sm-9 col-lg-10"
		  method="get"
		  action="@Url.Action("Page_Index", Model.Controller)">

		<div class="form_input flex-grow-1 col-xl-5 flex-xl-grow-0 bg-white border green_effect d-flex align-items-center justify-content-center gap-1 rounded-1 overflow-hidden"
			 style="padding-left: 10px;">
			<i id="icon-s" class="fa fa-search"></i>
			<i id="icon-w" class="fa-solid fa-spinner wait_load d-none"></i>
			<input class="search_ajax p-2 border-none flex-grow-1 outline-none"
				   autofocus
				   type="search"
				   name="search"
				   placeholder="@translate["label_tim"]..."
				   value="@Model.FindText">
		</div>

		<select name="pageSize"
				class="page_size nav_btn border-none green_effect rounded-1 cursor-pointer bg-white"
				asp-items="@Model.SelectListPageSize">
		</select>

		<button class="btn_search nav_btn rounded-1 border-none time_delay_500ms d-flex align-items-center justify-content-around  outline_tree_hover bg_transparent_hover text_black_hover">
			<i class="fa fa-search"></i>
			@translate["label_tim"]
		</button>
	</form>
</div>
