@model InfomationPaginate
@{
	var isEN = Helper.Func.IsEnglish();
}

<tr class="text-center bg-black text-white">
	@{
		string controller = Model.Controller;
		string action = Model.Action;
		string sortType = Model.sortType;
		string sortFollow = Model.sortFollow ?? "";

		string search = Model.FindText;
		int currentpage = Model.CurrentPage;
		int pageSize = Model.PageSize;

		var listStyle = Model.ListTitle;

		for (int i = 0; i < listStyle.Count(); i++)
		{
			var label = listStyle[i];
			bool outList = i == 0 || i == listStyle.Count() - 1;

			string labelASC = isEN ? "Ascending" : "Tăng dần";
			string labelDESC = isEN ? "Descending" : "Giảm dần";

			string setMaxWidthHead = "";
			if (i == 0) setMaxWidthHead = "width: 60px !important;";
			else if (i == listStyle.Count() - 1) setMaxWidthHead = "width: 110px !important;";

			<th class="head_sort" style="@setMaxWidthHead">
				@if (outList)
				{
					<span class="h-100">@label</span>
				}
				else
				{
					<span class="h-100 px-3 position-relative">
						<a href='@Url.Action(action, controller, new { search=search, currentpage=currentpage, pageSize=pageSize, sortType=Helper.Key.sortDESC, sortFollow=label })'
						   class="icon_sort icon_sort_desc btn_loading" title="@labelDESC">
							<i class="fa-solid fa-arrow-down"></i>
						</a>

						@label

						<a href='@Url.Action(action, controller, new { search=search, currentpage=currentpage, pageSize=pageSize, sortType=Helper.Key.sortASC, sortFollow=label })'
						   class="icon_sort icon_sort_asc btn_loading" title="@labelASC">
							<i class="fa-solid fa-arrow-up"></i>
						</a>
					</span>
				}
			</th>
		}
	}
</tr>