@inject IHttpContextAccessor httpContextAccessor
@model InfomationPaginate
@{
	int totalPages = Model.TotalPages;
	int currentPage = Model.CurrentPage;
	int pageSize = Model.PageSize;

	string search = Model.FindText;
	string controller = Model.Controller;
	string action = Model.Action;

	int groupPage = 10;
	bool morePage = false;
}

<div class="pagination p-3 d-flex justify-content-center"
	 totalPages="@totalPages"
	 currentPage="@currentPage"
	 pageSize="@pageSize"
	 search="@search"
	 controller="@controller"
	 action="@action">

	<div class="pages_ d-inline-flex flex-column justify-content-center align-items-center gap-1" style="width: max-content">
		<!-- Page main -->
		<div class="group_page d-flex justify-content-center align-items-center">
			
		</div>

		<!-- Page hidden -->
		<div class="page_hidden d-none d-flex flex-wrap justify-content-center">
			
		</div>
	</div>
</div>	

<script src="~/js/custom/components/createItemsPage.js"></script>