@using Mangrove.Data
@model List<TblIndividual>

@{
    if (Model.Count() > 0)
    {
        int stt = 0;
        foreach (var item in Model)
        {
            stt += 1;

            <div class="px-lg-1 py-1 col-12 col-lg-6">
                <div class="individual_item border d-lg-flex flex-lg-wrap w-100">
                    <div class="top col-12 p-2 d-flex justify-content-between align-items-center">
                        <div class="id_title">
                            <span>#@stt &nbsp;|</span>
                            <a class="a_link" href='@Url.Action("Individual", "Home", new { id = @item.Id })'
                                title="To the individual">@item.SurveyDay.ToString("dd/MM/yyyy").Replace("-", "/")</a>
                        </div>

                        <div>
                            <span class="color_green_hover">
                                @item.View &nbsp;
                                <i class="fa-solid fa-eye" title="Viewer"></i>
                                &nbsp;|&nbsp;
                            </span>
                            <span>Giai đoạn: @item.TblStages.Count()</span>
                        </div>
                    </div>

                    <div class="bottom col-12 p-2 d-flex justify-content-between align-items-center">
                        <span class="color_green_hover">@item.Position</span>
                        <button class="toggleQR px-3 py-1 border-none" title="See QR code">
                            QR
                        </button>
                    </div>

                    <div class="frame_qr text-center col-12">
                        <img class="h-100 click_show_image" src='@Url.Content($"~/img/qr-img/" + @item.QrName)' alt="">
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-center col-12 pb-2">Không tìm thấy cá thể nào !</p>
    }
}