@inject IStringLocalizer<Translate> translate
@model List<Individual_Mangrove_Client_VM>

@{
	bool isEN = Helper.Func.IsEnglish();

	if (Model.Count() > 0)
	{
		long stt = 0;
		foreach (var item in Model)
		{
			stt += 1;

			<div class="px-lg-1 py-1 col-12 col-lg-6">
				<div class="info_qr individual_item border d-lg-flex flex-lg-wrap w-100 rounded-1 overflow-hidden">
					<div class="top col-12 p-2 d-flex justify-content-between align-items-center">
						<div class="id_title">
							<span>#@stt &nbsp;|</span>
							<a class="a_link qr_day btn_loading"
							   onclick="@Helper.Link.JSSetUrlBack(Helper.Key.clientToPageIndividual)"
							   href='@Url.Action("Page_Individual", "Home", new { id = @item.Id })'
							   title="@translate["label_den_trang_ca_the"]">
								@item.UpdateLast
							</a>
						</div>

						<div>
							<span>
								@item.View &nbsp;
								<i class="fa-solid fa-eye" title="@translate["label_luot_xem"]"></i>
								&nbsp;|&nbsp;
							</span>
							<span>@translate["label_giai_doan"]: @item.NumberStages</span>
						</div>
					</div>

					<div class="bottom col-12 p-2 d-flex justify-content-between align-items-center">
						<span class="qr_pos">@item.Position</span>
						<button class="toggleQR px-3 py-1 border-none rounded-1" title="See QR code">QR</button>
					</div>

					<div class="frame_qr text-center col-12">
						<input class="get_qr_name" type="text" value="@item.NameMangrove" hidden />
						<input class="get_qr_pos" type="text" value="@item.Position" hidden />
						<input class="get_qr_longitude" type="text" value="@item.Longitude" hidden />
						<input class="get_qr_latitude" type="text" value="@item.Latitude" hidden />
						<img class="h-100 click_show_qr rounded-1 lazy-load"
							data-src="/img/qr-img/@item.QrName" alt="">
					</div>
				</div>
			</div>
		}
	}
	else
	{
		<p class="text-center col-12 pb-2">@translate["label_khong_tim_thay_ca_the_nao"]</p>
	}
}