@inject IStringLocalizer<Translate> translate
@model long?

<section class="module_back">
	<div class="container d-flex justify-content-between align-items-center py-2 mt-2 mb-0">
		<a href="javascript:history.back(-1);"
			class="btn_back d-flex gap-2 align-items-center justify-content-between rounded-1"
			style="min-width: 120px;">
			<i class="fa-solid fa-backward"></i>
			@translate["user_back_tro_ve"]
		</a>

		@{
			if (Model.HasValue)
			{
				<span class="color_green_hover" title="Viewer">
					@(Model > 9999 ? "9999+" : Model) &nbsp;
					<i class="fa-solid fa-eye"></i>
					<span class="hidden_mobile">&nbsp; @translate["user_back_luot_xem"]</span>
				</span>
			}
		}

		<select class="select_ex_co green_effect cursor-pointer rounded-1">
			<option class="rounded-1" selected value="ex">@translate["user_back_mo_rong"]</option>
			<option class="rounded-1" value="co">@translate["user_back_thu_gon"]</option>
		</select>
	</div>
</section>