@inject IStringLocalizer<Translate> translate
@model BackPage_Client_VM
@{
	string? key = Model.KeyURL;
	long? view = Model.View;
}

<section class="module_back">
	<div class="container d-flex justify-content-between align-items-center py-2 mt-2 mb-0">
		<button type="button"
				onclick="@Helper.Link.ScriptGetUrlBack(key, true, true)"
				class="btn_back d-flex gap-2 align-items-center justify-content-between rounded-1 outline_tree_hover text_black_hover btn_loading"
				style="min-width: 120px;">
			<i class="fa-solid fa-backward"></i>
			@translate["label_tro_ve"]
		</button>

		@{
			if (view != null)
			{
				<span class="text_tree_hover" title="@translate["label_luot_xem"]">
					@(view > 999999 ? "999999+" : Helper.Func.FormatNumber(view ?? 1)) &nbsp;
					<i class="fa-solid fa-eye"></i>
					<span class="hidden_mobile">&nbsp; @translate["label_luot_xem"]</span>
				</span>
			}
		}

		<select class="select_ex_co green_effect cursor-pointer rounded-1 outline_tree_hover text_black_hover">
			<option class="rounded-1" selected value="ex">@translate["label_mo_rong"]</option>
			<option class="rounded-1" value="co">@translate["label_thu_gon"]</option>
		</select>
	</div>
</section>