@inject IStringLocalizer<Translate> translate
@model List<TblIndividual>

@{
    bool isEN = Helper.Func.IsLanguage("en");

    if (Model.Count() > 0)
    {
        long stt = 0;
        foreach (var item in Model)
        {
            stt += 1;

            <div class="px-lg-1 py-1 col-12 col-lg-6">
                <div class="individual_item border d-lg-flex flex-lg-wrap w-100 rounded-1 overflow-hidden">
                    <div class="top col-12 p-2 d-flex justify-content-between align-items-center">
                        <div class="id_title">
                            <span>#@stt &nbsp;|</span>
                            <a class="a_link" href='@Url.Action("Page_Individual", "Home", new { id = @item.Id })'
                                title="To the individual">@item.UpdateLast.ToString("dd/MM/yyyy").Replace("-", "/")</a>
                        </div>

                        <div>
                            <span>
                                @item.View &nbsp;
                                <i class="fa-solid fa-eye" title="@(isEN ? "View" : "Lượt xem")"></i>
                                &nbsp;|&nbsp;
                            </span>
                            <span>@translate["User_Individuals_giai_doan"]: @item.TblStages.Count()</span>
                        </div>
                    </div>

                    <div class="bottom col-12 p-2 d-flex justify-content-between align-items-center">
                        <span>@(isEN ? item.PositionEn : item.PositionVi)</span>
                        <button class="toggleQR px-3 py-1 border-none rounded-1" title="See QR code">QR</button>
                    </div>

                    <div class="frame_qr text-center col-12">
                        <img class="h-100 click_show_image rounded-1" src='@Url.Content($"~/img/qr-img/" + @item.QrName)' alt="">
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-center col-12 pb-2">@translate["User_Individuals_khong_tim_thay_ca_the_nao"]</p>
    }
}