@inject IStringLocalizer<Translate> translate
@model TblAdmin
@{
	ViewData["Title"] = @translate["label_thong_tin_quan_tri"];
	ViewData["InfoPage"] = @translate["label_thong_tin_quan_tri"] + $" ({translate["label_duoc_chinh_sua"]})";
	ViewData["TypePage"] = "Page_Setting";

	Layout = Helper.Path.layoutAdmin;
	string pv = Helper.Path.partialView;
}

<section class="module_auth w-100 d-flex align-items-center justify-content-center" style="min-height: 85vh;">
	<div class="container d-flex align-items-center justify-content-center">
		<form action="" method="post"
			  class="col-12 col-sm-8 col-xl-5 py-4 px-3 rounded-1 bg-form width_auth">
			<h3 class="text-center mb-3 text-black">@translate["label_thong_tin_quan_tri"]</h3>

			<!-- Username -->
			<div class="frame_password d-flex justify-content-center align-items-center bg-white mt-3 rounded-1 outline_tree_hover">
				<i class="fa-solid fa-user col-1 text-center"></i>
				<input class="flex-grow-1 border-none py-2 outline-none text_body" asp-for="@Model.Username" />
				<i class="fa-solid fa-lock-open col-1 text-center"></i>
			</div>
			<p class="text-danger small_font">@Helper.Validate.ShowError()</p>

			<!-- Email -->
			<div class="frame_password d-flex justify-content-center align-items-center bg-white mt-3 rounded-1 outline_tree_hover">
				<i class="fa-solid fa-envelope col-1 text-center"></i>
				<input class="flex-grow-1 border-none py-2 outline-none text_body" asp-for="@Model.Email" />
				<i class="fa-solid fa-lock-open col-1 text-center"></i>
			</div>
			<p class="text-danger small_font">@Helper.Validate.ShowError()</p>

			<!-- Key application -->
			<div class="frame_password d-flex justify-content-center align-items-center bg-white mt-3 rounded-1 outline_tree_hover">
				<i class="fa-solid fa-key col-1 text-center"></i>
				<input class="flex-grow-1 border-none py-2 outline-none text_body" asp-for="@Model.CodeSendEmail" />
				<i class="fa-solid fa-lock-open col-1 text-center"></i>
			</div>
			<p class="text-danger small_font">@Helper.Validate.ShowError()</p>

			<!-- Frame button -->
			<div class="d-flex justify-content-center gap-3 justify-content-sm-between align-items-center mt-5">
				<a href='@Url.Action("Page_AdminInformation_View", "Admin")'
				   class="text-tree_hover border-none bg-white text_body px-4 py-2 rounded-1 opacity_hover btn_loading outline">
					<i class="fa-solid fa-eye"></i>
					<span class="hidden_mobile">@translate["label_xem"]</span>
				</a>
				<button type="submit"
						class="btn_auth bg-tree text-white bg_black_hover time_delay_500ms btn_loading text-center"
						href='@Url.Action("Page_AdminInformation_Edit", "Admin")'>
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">@translate["label_luu"]</span>
				</button>
			</div>
		</form>
	</div>
</section>

