@inject IStringLocalizer<Translate> translate
@{
	ViewData["Title"] = ViewData["InfoPage"] = @translate["label_doi_mat_khau"];
	ViewData["TypePage"] = "Page_Setting";

	Layout = Helper.Path.layoutAdmin;
	string pv = Helper.Path.partialView;
}

<section class="module_auth w-100 d-flex align-items-center justify-content-center" style="min-height: 85vh;">
	<div class="container py-3 d-flex align-items-center justify-content-center">
		<form action="" method="post"
			  class="col-12 col-sm-8 col-xl-5 py-4 px-3 rounded-1 bg-form width_auth">
			<h3 class="text-center mb-3 text-black">@translate["label_doi_mat_khau"]</h3>

			<!-- Old password -->
			<div class="frame_password px-2 d-flex justify-content-center align-items-center bg-white mt-3 rounded-1 green_effect">
				<i class="fa-solid fa-key col-1"></i>
				<input name="oldPass" type="password"
					   placeholder="@translate["label_nhap_mat_khau_cu"]"
					   value="@ViewData["OldPass"]"
					   autofocus
					   class="col-10 border-none py-2 outline-none text_body" />
				<span class="d-flex col-1 justify-content-center cursor-pointer">
					<i class="icon_eye icon_eye_open fa-solid fa-eye d-none"></i>
					<i class="icon_eye icon_eye_close fa-regular fa-eye-slash"></i>
				</span>
			</div>
			<p class="text-danger small_font">@Helper.Validate.ShowError()</p>

			<!-- New password -->
			<div class="frame_password px-2 d-flex justify-content-center align-items-center bg-white mt-3 rounded-1 green_effect">
				<i class="fa-solid fa-key col-1"></i>
				<input name="newPass" type="password"
					   placeholder="@translate["label_nhap_mat_khau_moi"]"
					   value="@ViewData["newPass"]"
					   class="col-10 border-none py-2 outline-none text_body">
				<span class="d-flex col-1 justify-content-center cursor-pointer">
					<i class="icon_eye icon_eye_open fa-solid fa-eye d-none"></i>
					<i class="icon_eye icon_eye_close fa-regular fa-eye-slash"></i>
				</span>
			</div>
			<p class="text-danger small_font">@Helper.Validate.ShowError()</p>

			<!-- New password confirm -->
			<div class="frame_password px-2 d-flex justify-content-center align-items-center bg-white mt-3 rounded-1 green_effect">
				<i class="fa-solid fa-key col-1"></i>
				<input name="newPassConfirm" type="password"
					   placeholder="@translate["label_nhap_lai_mat_khau_moi"]"
					   value="@ViewData["newPassConfirm"]"
					   class="col-10 border-none py-2 outline-none text_body">
				<span class="d-flex col-1 justify-content-center cursor-pointer">
					<i class="icon_eye icon_eye_open fa-solid fa-eye d-none"></i>
					<i class="icon_eye icon_eye_close fa-regular fa-eye-slash"></i>
				</span>
			</div>
			<p class="text-danger small_font">@Helper.Validate.ShowError()</p>

			<!-- Frame button -->
			<div class="d-flex justify-content-center gap-3 justify-content-sm-between align-items-center mt-5">
				<button type="button"
						onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageChangePassword, true)"
						class="text-tree_hover border-none bg-white text_body px-4 px-xl-3 py-2 rounded-1 opacity_hover btn_loading outline">
					<i class="fa-solid fa-backward"></i>
					<span class="hidden_mobile">@translate["label_tro_ve"]</span>
				</button>

				<button class="py-2 outline_none border-none bg-tree text-white bg_black_hover time_delay_500ms btn_loading text-center px-4 rounded-1">
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">@translate["label_luu"]</span>
				</button>
			</div>
		</form>
	</div>
</section>

