@inject IStringLocalizer<Translate> translate
@model TblSetting
@{
	bool isEN = Helper.Func.IsEnglish();
	ViewData["Title"] = @translate["label_thong_tin_website"];
	ViewData["InfoPage"] = @translate["label_thong_tin_website"] + $" ({translate["label_chi_xem"]})";
	ViewData["TypePage"] = "Page_Setting";

	Layout = Helper.Path.layoutAdmin;
	string pv = Helper.Path.partialView;

	var dataBase64s = ViewData["DataBase64s"] as List<string> ?? new List<string>() { string.Empty, string.Empty, string.Empty };
	var dataTypes = ViewData["DataTypes"] as List<string> ?? new List<string>() { string.Empty, string.Empty, string.Empty };

	// Tạo item select for dark backgroud
	var listTitleVI = new List<string>() { "Có", "Không" };
	var listTitleEN = new List<string>() { "Yes", "No" };
	var listTitleValue = new List<bool>() { true, false };
	var listTitle = isEN ? listTitleEN : listTitleVI;
	var items = new SelectList(
		listTitle.Select((item, index) => new { Value = listTitleValue[index], Text = item }),
		"Value", "Text", Model.FooterDark
	);

	int index = 0;
	bool haveImage = !string.IsNullOrEmpty(dataBase64s[index]);
	string folder = dataBase64s[index] != null ? (dataBase64s[index].Contains(Helper.Key.temp) ? "temp-img" : "logo") : "logo";
	string darkBackground = Model.FooterDark == true ? "darkBackground" : string.Empty;
}

<section class="mod-add-individual">
	<div class="container py-2">
		<form action="" method="post" enctype="multipart/form-data">
			<input type="text" asp-for="@Model.Id" hidden />
			<input type="text" asp-for="@Model.LogoImg" hidden />
			<input type="text" asp-for="@Model.AuthImg" hidden />
			<input type="text" asp-for="@Model.FooterBgImg" hidden />

			<!-- Frame button -->
			<div class="d-flex justify-content-center mt-2 gap-2">
				<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageSettingWebsite, true)"
				class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
					<i class="fa-solid fa-list"></i>
					<span class="hidden_mobile">
						@translate["label_tro_ve"]
					</span>
				</button>

				<a href="@Url.Action("Page_WebsiteInformation_View", "SettingWebsite")"
				class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg_blue opacity_hover btn_loading">
					<i class="fa-solid fa-circle-info"></i>
					<span class="hidden_mobile">
						@translate["label_chi_tiet"]
					</span>
				</a>

				<button type="submit" class="btn_submit_form px-3 py-2 border-none outline-none bg-tree rounded-1 text-white opacity_hover time_delay_500ms">
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">@translate["label_luu"]</span>
				</button>
			</div>

			<!-- Header -->
			<div class="box bg-white mt-3 mb-4 rounded-1">
				<div class="toggle_title cursor-pointer text-center mb-2 position-sticky top-0" style="z-index: 4;">
					<h6 class="py-2 bg-black text-white rounded-1">@translate["label_tieu_de_trang"]</h6>
				</div>

				<div class="info bg-form">
					<div class="top d-sm-flex">
						<div class="col-sm-6 p-2 d-flex flex-column justify-content-between">
							<small class="mb-1 d-block font-small text-center"><small class="text-danger">✶</small>Logo</small>
							<div class="w-100 flex-grow-1 d-flex justify-content-center algin-items-center">
								<div class="add_img rounded-1 w-100">
									<div class="drop-zone input_img bg-white d-flex justify-content-center align-items-center w-100 h-100 min_height_input_img rounded-1 green_effect @(haveImage ? "d-none" : "")">
										<button class="btn_add_img outline-none color-tree bg-transparent fs-1 px-4 py-2 border rounded-1 green_effect"
										type="button">
											<i class="icon_add fa-solid fa-plus"></i>
										</button>
										<input class="file" name="ImageFile" type="file" hidden />
										<div class="overflow-hidden w-h-0">
											<input class="image_type" name="dataTypes" value="@dataTypes[index]" />
											<input class="image_data" name="dataBase64s" value="@dataBase64s[index]" />
										</div>
									</div>

									<div class="preview_img position-relative @(haveImage ? "" : "d-none") overflow-hidden h-100 d-flex justify-content-center align-items-center">
										<img class="show_temp object-fit-cover mx-auto d-block rounded-1 click_show_image img_max_height"
										src="/img/@folder/@dataBase64s[index]"
										alt="" />

										<button class="btn_remove_preview_img"
										type="button">
											<i class="icon_remove fa-solid fa-xmark"></i>
										</button>
									</div>

									<p class="text-danger small_font text-center">@Helper.Validate.ShowError()</p>
								</div>
							</div>
						</div>

						@{
							index += 1;
							haveImage = !string.IsNullOrEmpty(dataBase64s[index]);
							folder = dataBase64s[index] != null ? (dataBase64s[index].Contains(Helper.Key.temp) ? "temp-img" : "logo") : "logo";
						}
						<div class="col-sm-6 p-2 d-flex flex-column justify-content-between">
							<small class="mb-1 d-block font-small text-center"><small class="text-danger">✶</small>@translate["label_xac_thuc"]</small>
							<div class="w-100 flex-grow-1 d-flex justify-content-center algin-items-center">
								<div class="add_img rounded-1 w-100">
									<div class="drop-zone input_img bg-white d-flex justify-content-center align-items-center w-100 h-100 min_height_input_img rounded-1 green_effect @(haveImage ? "d-none" : "")">
										<button class="btn_add_img outline-none color-tree bg-transparent fs-1 px-4 py-2 border rounded-1 green_effect"
										type="button">
											<i class="icon_add fa-solid fa-plus"></i>
										</button>
										<input class="file" name="ImageFile" type="file" hidden />
										<div class="overflow-hidden w-h-0">
											<input class="image_type" name="dataTypes" value="@dataTypes[index]" />
											<input class="image_data" name="dataBase64s" value="@dataBase64s[index]" />
										</div>
									</div>

									<div class="preview_img position-relative @(haveImage ? "" : "d-none") overflow-hidden h-100 d-flex justify-content-center align-items-center">
										<img class="show_temp object-fit-cover mx-auto d-block rounded-1 click_show_image img_max_height"
										src="/img/@folder/@dataBase64s[index]"
										alt="" />

										<button class="btn_remove_preview_img"
										type="button">
											<i class="icon_remove fa-solid fa-xmark"></i>
										</button>
									</div>

									<p class="text-danger small_font text-center">@Helper.Validate.ShowError()</p>
								</div>
							</div>
						</div>

					</div>

					<div class="bottom p-2 d-flex flex-wrap">
						<div class="p-2 col-12 col-sm-6">
							<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_ten_truong"] (@translate["label_tieng_anh"])</small>
							<input type="text" asp-for="@Model.SchoolNameEn" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>

						<div class="p-2 col-12 col-sm-6">
							<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_ten_truong"] (@translate["label_tieng_viet"])</small>
							<input type="text" asp-for="@Model.SchoolNameVi" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>

						<div class="p-2 col-12 col-sm-6">
							<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_ten_khoa"] (@translate["label_tieng_anh"])</small>
							<input type="text" asp-for="@Model.FacultyEn" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>

						<div class="p-2 col-12 col-sm-6">
							<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_ten_khoa"] (@translate["label_tieng_anh"])</small>
							<input type="text" asp-for="@Model.FacultyVi" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<div class="box bg-white mt-3 mb-4 rounded-1">
				<div class="toggle_title cursor-pointer text-center mb-2 position-sticky top-0" style="z-index: 4;">
					<h6 class="py-2 bg-black text-white rounded-1">@translate["label_chan_trang"]</h6>
				</div>

				@{
					index += 1;
					haveImage = !string.IsNullOrEmpty(dataBase64s[index]);
					folder = dataBase64s[index] != null ? (dataBase64s[index].Contains(Helper.Key.temp) ? "temp-img" : "logo") : "logo";
				}

				<div class="info bg-form">
					<div class="d-sm-flex">
						<div class="top col-sm-6 p-2 d-flex flex-column justify-content-between">
							<small class="mb-1 d-block font-small text-center"><small class="text-danger">✶</small>@translate["label_hinh_anh"]</small>
							<div class="w-100 flex-grow-1 d-flex justify-content-center algin-items-center">
								<div class="add_img rounded-1 w-100">
									<div class="drop-zone input_img bg-white d-flex justify-content-center align-items-center w-100 h-100 min_height_input_img rounded-1 green_effect @(haveImage ? "d-none" : "")">
										<button class="btn_add_img outline-none color-tree bg-transparent fs-1 px-4 py-2 border rounded-1 green_effect"
												type="button">
											<i class="icon_add fa-solid fa-plus"></i>
										</button>
										<input class="file" name="ImageFile" type="file" hidden />
										<div class="overflow-hidden w-h-0">
											<input class="image_type" name="dataTypes" value="@dataTypes[index]" />
											<input class="image_data" name="dataBase64s" value="@dataBase64s[index]" />
										</div>
									</div>

									<div class="preview_img position-relative @(haveImage ? "" : "d-none") overflow-hidden h-100 d-flex justify-content-center align-items-center">
										<div class="background @darkBackground rounded-1 overflow-hidden click_show_image" src="/img/logo/@Model.FooterBgImg">
											<img class="show_temp object-fit-cover mx-auto d-block rounded-1 click_show_image img_max_height"
												 src="/img/@folder/@dataBase64s[index]"
												 alt="" />
										</div>

										<button class="btn_remove_preview_img"
												type="button">
											<i class="icon_remove fa-solid fa-xmark"></i>
										</button>
									</div>

									<p class="text-danger small_font text-center">@Helper.Validate.ShowError()</p>
								</div>
							</div>
						</div>

						<div class="bottom col-sm-6 p-2 d-flex flex-column justify-content-center">
							<div class="d-flex align-items-center gap-3 py-2">
								<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_toi_anh_nen"]</small>
								<select asp-for="@Model.FooterDark"
										class="optionDarkBackground px-2 py-0 h-100 m-0 border-none outline-none green_effect rounded-1 text_body"
										asp-items="@items">
								</select>
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>

							<div class="py-2">
								<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_so_dien_thoai"]</small>
								<input type="text" asp-for="@Model.Phone" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>

							<div class="py-2">
								<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>Email</small>
								<input type="text" asp-for="@Model.Email" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>
						</div>
					</div>

					<div class="d-sm-flex flex-sm-wrap">
						<div class="col-sm-6 p-2">
							<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_dia_chi"] (@translate["label_tieng_anh"])</small>
							<input type="text" asp-for="@Model.AddressEn" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>

						<div class="col-sm-6 p-2">
							<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_dia_chi"] (@translate["label_tieng_viet"])</small>
							<input type="text" asp-for="@Model.AddressVi" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>

						<div class="col-sm-6 p-2">
							<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_mo_ta_trang_web"] (@translate["label_tieng_anh"])</small>
							<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" asp-for="@Model.DescriptionWebsiteEn" cols="30" rows="3"></textarea>

							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>

						<div class="col-sm-6 p-2">
							<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_mo_ta_trang_web"] (@translate["label_tieng_viet"])</small>
							<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" asp-for="@Model.DescriptionWebsiteVi" cols="30" rows="3"></textarea>

							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Frame button -->
			<div class="d-flex justify-content-center my-2 gap-2">
				<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageSettingWebsite, true)"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
					<i class="fa-solid fa-list"></i>
					<span class="hidden_mobile">
						@translate["label_tro_ve"]
					</span>
				</button>

				<a href="@Url.Action("Page_WebsiteInformation_View", "SettingWebsite")"
				   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg_blue opacity_hover btn_loading">
					<i class="fa-solid fa-circle-info"></i>
					<span class="hidden_mobile">
						@translate["label_chi_tiet"]
					</span>
				</a>

				<button type="submit" class="btn_submit_form px-3 py-2 border-none outline-none bg-tree rounded-1 text-white opacity_hover time_delay_500ms">
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">@translate["label_luu"]</span>
				</button>
			</div>
		</form>
	</div>
</section>	