@inject IStringLocalizer<Translate> translate
@{
	var isEN = Helper.Func.IsEnglish();
	ViewData["Title"] = ViewData["InfoPage"] = translate["label_thong_ke"] + $" (Bộ lọc)";
	ViewData["TypePage"] = "Page_Statistical";

	Layout = Helper.Path.layoutAdmin;
}

<section class="mod_statistical">
	<div class="py-2">
		<!-- Tuỳ chọn -->
		<div class="container statistical_option d-flex justify-content-around justify-content-lg-center gap-2 mb-2">
			<a href='@Url.Action("Page_Overview", "Statistical")'
			   class="btn_option border-none outline-none text_tree_hover time_delay_500ms">
				<i class="fa-solid fa-eye color-tree"></i>
				<span class="text_body">Tổng quan</span>
			</a>
			<span>|</span>
			<a href='@Url.Action("Page_Fillter", "Statistical")'
			   class="btn_option active border-none outline-none text_tree_hover time_delay_500ms">
				<i class="fa-solid fa-filter color-tree"></i>
				<span class="text_body">Bộ lọc</span>
			</a>
		</div>

		<!-- Tiêu đề báo cáo -->
		<div class="container text-center mb-4">
			<h4>Báo cáo thống kê hệ thống</h4>
		</div>

		<div class="container filter">
			<form action="" method="get"
				  class="py-2 bg-white rounded-1 shadow-sm d-flex flex-wrap mb-4">
				<div class="choose_date col-sm-6 p-2 d-flex flex-wrap justify-content-between justify-content-lg-around gap-sm-2 col-12">
					<div class="col-5 col-sm-12 col-lg-5">
						<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>Từ ngày</small>
						<input type="date" name="fromDate" class="w-100 border-none bg-form outline_black green_effect px-2 py-1 rounded-1 text_body" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
					</div>
					<div class="col-5 col-sm-12 col-lg-5">
						<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>Tới ngày</small>
						<input type="date" name="fromDate" class="w-100 border-none bg-form outline_black green_effect px-2 py-1 rounded-1 text_body" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
					</div>
				</div>

				<div class="choose_option col-sm-6 p-2 d-flex flex-column flex-lg-row col-12">
					<div class="list_option col-lg-5">
						<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>Chọn bảng</small>
						<select class="w-100 border-none bg-form outline_black green_effect px-2 py-1 rounded-1 text_body"
								name="option_table">
							<option value="" selected>Tất cả</option>
							<option value="mangrove">Thành phần loài</option>
							<option value="individual">Cá thể</option>
						</select>
					</div>

					<div class="frame_button_fillter text-center d-flex align-items-end justify-content-center flex-grow-1 mt-3 mt-sm-0 col-lg-5">
						<button class="border-none outline-none px-3 py-2 py-sm-1 rounded-1 bg-black text-white time_delay_500ms bg_tree_hover w-50"
								type="submit">
							Lọc
						</button>
					</div>
				</div>
			</form>
		</div>

		<div class="container-fluid data_fillter">
			<div class="box_card bg-white shadow-sm p-2 rounded-3 mb-4">
				<h5 class="text-center mt-1 mb-3">10 Thành phần loài</h5>
				<div class="scroll_x">
					<table class="table table-bordered">
						<thead>
							<tr class="text-center">
								<th>STT</th>
								<th>Tên cây</th>
								<th>Tên khác</th>
								<th>Tên khoa học</th>
								<th>Họ</th>
								<th>Hình thái</th>
								<th>Sinh thái</th>
								<th>Phân bố</th>
								<th>Tình trạng bảo tồn</th>
								<th>Công dụng</th>
								<th>Số lượng truy cập</th>
								<th>Số cá thể</th>
								<th>Link truy cập</th>
							</tr>
						</thead>
						<tbody class="text_body">
							@for (int i = 0; i < 10; i++)
							{
								<tr>
									<td class="text-center">@(i + 1)</td>
									<td>Tên cây</td>
									<td>Tên khác</td>
									<td>Tên khoa học</td>
									<td>Họ</td>
									<td>Hình thái</td>
									<td>Sinh thái</td>
									<td>Phân bố</td>
									<td>Tình trạng bảo tồn</td>
									<td>Công dụng</td>
									<td class="text-center">12</td>
									<td class="text-center">999</td>
									<td>Link truy cập</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>