@inject IStringLocalizer<Translate> translate
@model TblInforOverview
@{
	var isEN = Helper.Func.IsLanguage("en");
	ViewData["Title"] = translate["label_thanh_phan_loai"];
	ViewData["InfoPage"] = translate["label_tong_quan_thuc_vat_ngap_man"] + $" ({translate["label_chi_xem"]})";
	ViewData["TypePage"] = "Page_Mangrove";

	Layout = Helper.Path.layoutAdmin;
	string pv = Helper.Path.partialView;

	List<TblPhoto> listPhotos = ViewData["Photos"] as List<TblPhoto> ?? new List<TblPhoto>();
}

<section class="overview_mangrove">
	<div class="container py-2">
		<!-- Frame button -->
		<div class="d-flex justify-content-center mt-2 gap-2">
			<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageOverviewMangrove, true)"
					class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
				<i class="fa-solid fa-backward"></i>
				<span class="hidden_mobile">
					@translate["label_tro_ve"]
				</span>
			</button>

			<a href="@Url.Action("Page_Overview_Edit", "Mangrove")"
			   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-tree opacity_hover btn_loading">
				<i class="fas fa-edit"></i>
				<span class="hidden_mobile">
					@translate["label_sua"]
				</span>
			</a>
		</div>

		<!-- Slide -->
		@if (listPhotos.Any())
		{
			<div class="box rounded-1 bg-transparent mt-3 mb-4 shadown-sm">
				<div class="toggle_title text-center mb-2">
					<h6 class="py-2 bg-black text-white rounded-1">@translate["label_hinh_anh"]</h6>
				</div>

				<div class="info">
					<div class="images slick_slider height_responsive">
						<div class="slides">
							@foreach (var photo in listPhotos)
							{
								<div class="slide_item" note="@(isEN ? photo.NoteImgEn : photo.NoteImgVi)">
									<img class="rounded-1 click_show_image" src="/img/overview-img/slide/@photo.ImageName" alt="@(isEN ? photo.NoteImgEn : photo.NoteImgVi)" />
								</div>
							}
						</div>
					</div>

					<div class="show_description_photo">
						<p class="pt-1 px-2 text-center"></p>
					</div>
				</div>
			</div>
		}

		<!-- Content overview -->
		<div class="box rounded-1 bg-transparent mt-3 mb-4 shadown-sm">
			<div class="toggle_title text-center mb-2">
				<h6 class="py-2 bg-black text-white rounded-1">@translate["label_thong_tin"]</h6>
			</div>

			<div class="info">
				<div class="frame_show_editor bg-white px-2 py-3 rounded-1" style="max-height: max-content;">
					@Html.Raw(isEN ? Model.InforEn : Model.InforVi)
				</div>
			</div>
		</div>

		<!-- Frame button -->
		<div class="d-flex justify-content-center mt-3 mb-2 gap-2">
			<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageOverviewMangrove, true)"
					class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
				<i class="fa-solid fa-backward"></i>
				<span class="hidden_mobile">
					@translate["label_tro_ve"]
				</span>
			</button>

			<a href="@Url.Action("Page_Overview_Edit", "Mangrove")"
			   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-tree opacity_hover btn_loading">
				<i class="fas fa-edit"></i>
				<span class="hidden_mobile">
					@translate["label_sua"]
				</span>
			</a>
		</div>
	</div>
</section>