@inject IStringLocalizer<Translate> translate
@model TblInforOverview
@{
	var isEN = Helper.Func.IsLanguage("en");
	ViewData["Title"] = translate["label_thanh_phan_loai"];
	ViewData["InfoPage"] = translate["label_tong_quan_thuc_vat_ngap_man"] + $" ({translate["label_duoc_chinh_sua"]})";
	ViewData["TypePage"] = "Page_Mangrove";

	Layout = Helper.Path.layoutAdmin;
	string pv = Helper.Path.partialView;
}

<section class="overview_mangrove">
	<div class="container py-2">
		<form action="" method="post">
			<input type="text" hidden asp-for="@Model.Id" />
			<input type="text" hidden asp-for="@Model.InforEn" />
			<input type="text" hidden asp-for="@Model.InforVi" />

			<!-- Frame button -->
			<div class="d-flex justify-content-center mt-2 gap-2">
				<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageOverviewMangrove, true)"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
					<i class="fa-solid fa-backward"></i>
					<span class="hidden_mobile">
						@translate["label_tro_ve"]
					</span>
				</button>

				<a href='@Url.Action("Page_Overview_View", "Mangrove")'
				   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg_blue opacity_hover btn_loading">
					<i class="fa-solid fa-circle-info"></i>
					<span class="hidden_mobile">
						@translate["label_chi_tiet"]
					</span>
				</a>

				<button type="submit"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-tree opacity_hover btn_loading">
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">
						@translate["label_luu"]
					</span>
				</button>
			</div>

			<!-- Content overview -->
			<div class="frame_content mt-3">
				<textarea asp-for="@Model.InforVi" id="InforVi" class="w-100 text_body p-1"></textarea>
			</div>

			<!-- Frame button -->
			<div class="d-flex justify-content-center mt-3 mb-2 gap-2">
				<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageOverviewMangrove, true)"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
					<i class="fa-solid fa-backward"></i>
					<span class="hidden_mobile">
						@translate["label_tro_ve"]
					</span>
				</button>

				<a href='@Url.Action("Page_Overview_View", "Mangrove")'
				   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg_blue opacity_hover btn_loading">
					<i class="fa-solid fa-circle-info"></i>
					<span class="hidden_mobile">
						@translate["label_chi_tiet"]
					</span>
				</a>

				<button type="submit"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-tree opacity_hover btn_loading">
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">
						@translate["label_luu"]
					</span>
				</button>
			</div>
		</form>
	</div>
</section>

<style>
	.sun-editor-editable {
		font-size: inherit !important;
		font-family: inherit !important;
	}
</style>

<script>
	function createSunEditor(id) {
		const editor = SUNEDITOR.create(id, {
			minHeight: '600px',
			autoResize: true,
			buttonList: [
				['undo', 'redo', 'font', 'fontSize', 'formatBlock'],
				['bold', 'underline', 'italic', 'strike', 'subscript', 'superscript'],
				['fontColor', 'hiliteColor', 'textStyle'],
				['removeFormat'],
				['outdent', 'indent'],
				['align', 'horizontalRule', 'list', 'table'],
				['link', 'image', 'video'],
				['fullScreen'],
			],
			 // onChange: function(contents) {
				// document.getElementById('infoVI').innerHTML = contents;
			 // }	
		});
	}

	// const editorVI = createSunEditor("InforVi");
</script>