@inject IStringLocalizer<Translate> translate
@model TblSetting

@{
	var isEN = Helper.Func.IsLanguage("en");
}

<header id="header">
	<div id="background" class="d-xl-none" style="transition: 0.3s"></div>
	<div class="p-1 h-100 d-flex bg-white align-items-center">
		<div class="logo rounded-pill">
			<a href='@Url.Action("Page_Statistical", "Admin")' class="btn_loading">
				<img class="h-100 w-100" src="~/img/logo/@Model.LogoImg" alt="" title="Logo Mangrove">
			</a>
		</div>

		<div class="actions fw-bold d-flex px-2 justify-content-between flex-grow-1">
			<div class="left d-flex flex-column justify-content-around col-10 col-sm-11 col-xl-3">
				<a href='@Url.Action("Page_Statistical", "Admin")' class="btn_loading">
					<h5 class="text_tree_hover upper">
						@(isEN ? Model.SchoolNameEn : Model.SchoolNameVi)
					</h5>
				</a>
				<a href='@Url.Action("Page_Statistical", "Admin")' class="text_tree_hover btn_loading">
					@(isEN ? Model.FacultyEn : Model.FacultyVi)
				</a>
			</div>

			<div class="right flex-grow-1 d-flex justify-content-end">
				<button class="btn_menu d-xl-none h-100 border-none bg-transparent fw-bold">
					<i class="icon-s fa-solid fa-bars fs-5"></i>
					<i class="icon-x fa-solid fa-x fs-5 d-none"></i>
				</button>

				<div class="list_menu col-12 h-100 d-flex flex-column gap-2">
					<p class="text-lg-end color-tree text-center">@translate["label_trang_quan_tri_vien"]</p>

					<ul class="list_item w-100 d-flex flex-xl-row flex-column justify-content-xl-end gap-xl-4 gap-0 align-items-xl-center">
						<!-- Thống kê -->
						<li class="item active_click page_option btn_loading" page="Page_Statistical">
							<a href='@Url.Action("Page_Statistical", "Admin")' class="d-flex align-items-center gap-xl-1">
								<i class="fa-solid fa-chart-simple"></i>
								<span class="">@translate["label_thong_ke"]</span>
							</a>
						</li>

						<!-- Trang chủ -->
						<li class="dropdown_menu position-relative page_option" page="Page_Home">
							<div class="item dropdown_toggle d-xl-block d-flex align-items-center cursor-pointer">
								<i class="fa-solid fa-house"></i>
								<span class="d-xl-inline-block d-flex justify-content-between flex-grow-1 align-items-center">
									<span>@translate["label_trang_chu"]</span>
									<i class="fa-solid fa-caret-down time_delay_500ms w-auto"
									   style="margin-left: 3px;">
									</i>
								</span>
							</div>
							<ul class="dropdown_list rounded-1 overflow-hidden">
								<a href='@Url.Action("Page_Index", "Home")' class="py-2 px-3 d-block downdown_item btn_loading">@translate["label_xem"]</a>
								<a href='@Url.Action("Page_Edit", "HomePage")' class="py-2 px-3 d-block downdown_item btn_loading">@translate["label_sua"]</a>
							</ul>
						</li>

						<!-- Cây ngập mặn -->
						<li class="dropdown_menu position-relative page_option" page="Page_Mangrove">
							<div class="item dropdown_toggle d-xl-block d-flex align-items-center cursor-pointer">
								<i class="fa-solid fa-leaf"></i>
								<span class="d-xl-inline-block d-flex justify-content-between flex-grow-1 align-items-center">
									<span class="">@translate["label_cay_ngap_man"]</span>
									<i class="fa-solid fa-caret-down time_delay_500ms w-auto"
									   style="margin-left: 3px;">
									</i>
								</span>
							</div>
							<ul class="dropdown_list rounded-1 overflow-hidden">
								<a href='@Url.Action("Page_Index", "Mangrove")' class="py-2 px-3 d-block downdown_item btn_loading">@translate["label_thanh_phan_loai"]</a>
								<a href='@Url.Action("Page_Index", "Individual")' class="py-2 px-3 d-block downdown_item btn_loading">@translate["label_ca_the"]</a>
							</ul>
						</li>

						<!-- Bản đồ phân bố -->
						<li class="item active_click page_option" page="Page_Distribution">
							<a href='@Url.Action("Page_Index", "Distribution")' class="d-flex align-items-center gap-xl-1 btn_loading">
								<i class="fa-solid fa-map"></i>
								<span class="">@translate["label_phan_bo"]</span>
							</a>
						</li>

						<!-- Cài đặt -->
						<li class="dropdown_menu position-relative mobile_border_bottom page_option" page="Page_Setting">
							<div class="item dropdown_toggle d-xl-block d-flex align-items-center cursor-pointer">
								<i class="fa-solid fa-gear"></i>
								<span class="d-xl-inline-block d-flex justify-content-between flex-grow-1 align-items-center">
									<span>@translate["label_cai_dat"]</span>
									<i class="fa-solid fa-caret-down time_delay_500ms w-auto"
									   style="margin-left: 3px;">
									</i>
								</span>
							</div>
							<ul class="dropdown_list rounded-1">
								<!-- Thông tin admin - tài khoản -->
								<a href='@Url.Action("Page_AdminInformation_View", "Admin")'
								   class="py-2 px-3 d-block downdown_item btn_loading"
								   onclick="@Helper.Link.JSSetUrlBack(Helper.Key.adminToPageInfo)">@translate["label_thong_tin_quan_tri"]</a>

								<!-- Thay đổi mật khẩu -->
								<a href='@Url.Action("Page_ChangePassword","Admin")'
								   class="py-2 px-3 d-block downdown_item btn_loading"
								   onclick="@Helper.Link.JSSetUrlBack(Helper.Key.adminToPageChangePassword)">@translate["label_doi_mat_khau"]</a>

								<!-- Thay đổi ngôn ngữ -->
								<li class="py-xl-2 px-xl-3 dropdown_level_2 dropdown_menu position-relative">
									<div class="px-3 px-xl-0 item dropdown_toggle d-xl-block d-flex align-items-center cursor-pointer">
										<span class="d-flex justify-content-between flex-grow-1 align-items-center">
											<span>@translate["label_ngon_ngu"]</span>
											<i class="fa-solid fa-caret-down time_delay_500ms w-auto"
											   style="margin-left: 3px;">
											</i>
										</span>
									</div>
									<ul class="dropdown_list rounded-1 overflow-hidden" style="top: 0; right: 100%;">
										<a href='@Url.Action("ChangeLanguage", "SettingWebsite", new { language = "en" })' class="py-2 px-3 d-block downdown_item btn_loading">@translate["label_tieng_anh"]</a>
										<a href='@Url.Action("ChangeLanguage", "SettingWebsite", new { language = "vi" })' class="py-2 px-3 d-block downdown_item btn_loading">@translate["label_tieng_viet"]</a>
									</ul>
								</li>

								<!-- Đăng xuất -->
								<a href='@Url.Action("Page_Logout", "Auth")'
								   class="py-2 px-3 d-block downdown_item logout"
								   onclick="return confirm('@translate["label_text_dang_xuat"]');">
									@translate["label_dang_xuat"]
								</a>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>