<header id="header">
	<div class="p-1 d-flex bg-white">
		<div class="logo rounded-pill">
			<a href='@Url.Action("Index", "Home")'>
				<img class="h-100 w-100" src="~/img/logo/logo.png" alt="" title="Logo Mangrove">
			</a>
		</div>

		<div class="actions fw-bold d-flex px-3 justify-content-between" style="width: calc(100% - 70px);">
			<div class="left d-flex flex-column justify-content-around col-8 col-sm-10 col-lg-4">
				<a href='@Url.Action("Index", "Home")'>
					<h5 class="color_green_hover">ĐẠI HỌC NHA TRANG</h5>
				</a>
				<a href='@Url.Action("Index", "Home")' class="color_green_hover">
					Viện Công Nghệ Sinh Học & Môi Trường
				</a>
			</div>

			<div
				class="col-2 col-sm-1 d-flex justify-content-center justify-content-sm-end d-lg-none align-items-center h-100 mr-3">
				<button class="border-none bg-transparent">
					<a href='@Url.Action("Search", "Home")'>
						<i class="icon-s fa fa-search"></i>
					</a>
				</button>
			</div>

			<div class="right col-2 col-sm-1 col-lg-8 d-flex justify-content-end">
				<button class="btn_menu d-lg-none h-100 border-none bg-transparent fw-bold"
					onclick="listnerClickHamburgerMenu();">
					<i class="icon-s fa-solid fa-bars fs-5"></i>
					<i class="icon-x fa-solid fa-x fs-5 d-none"></i>
				</button>

				<div class="list_menu col-12 h-100 d-flex flex-column justify-content-lg-around gap-2 gap-lg-0	">
					<p class="text-lg-end color-tree text-center">Trang tích hợp thông tin</p>

					<ul
						class="list_item w-100 col-12z d-flex flex-lg-row flex-column justify-content-lg-end gap-lg-4 gap-2 align-items-lg-center">
						<li class="color_green_hover page_option" page="Index">
							<a href='@Url.Action("Index", "Home")'>
								<i class="fa-solid fa-house"></i>
								<span class="">Trang chủ</span>
							</a>
						</li>

						<li class="color_green_hover page_option" page="SpeciesComposition">
							<a href='@Url.Action("SpeciesComposition", "Home")'>
								<i class="fa-solid fa-leaf"></i>
								<span class="">Thành phần loài</span>
							</a>
						</li>

						<li class="color_green_hover page_option" page="Distribution">
							<a href='@Url.Action("Distribution", "Home")'>
								<i class="fa-solid fa-map"></i>
								<span class="">Phân bố</span>
							</a>
						</li>

						<li class="position-relative language">
							<div class="btn_language d-lg-block d-flex align-items-center cursor-pointer">
								<i class="fa-solid fa-language"></i>
								<span class="d-lg-inline d-flex justify-content-between flex-grow-1 align-items-center">
									<span>Ngôn ngữ</span>
									<i class="fa-solid fa-caret-down time_delay_500ms w-auto"
										style="margin-left: 3px;"></i>
								</span>
							</div>
							<ul class="language_dropdown rounded-1 overflow-hidden d-none">
								<li class="p-2" data-value="en">Tiếng Anh</li>
								<li class="p-2" data-value="vi">Tiếng Việt</li>
							</ul>
							<div id="google_translate_element" class="position-fixed"
								style="top: -10000%; z-index: -10000;"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>