@inject IStringLocalizer<Translate> translate

<footer id="user_footer" class="mt-2 py-3" style="background-image: url('@Url.Content("~/img/logo/bg-footer.jpg")');">
	<div class="container pt-3 d-flex flex-column gap-5 gap-sm-0 flex-sm-row">
		<!-- Description -->
		<div class="col-12 col-sm-4 px-2">
			<div class="logo_title mb-30">
				<div class="logo d-inline-flex gap-2 align-items-center rounded-pill">
					<a href='@Url.Action("Page_Index", "Home")'>
						<img class="h-100 w-100 object-fit-cover" src="~/img/logo/logo.png" alt=""
							title="Logo Mangrove">
					</a>
				</div>
				<p class="mb-2 color_green_hover text-white mt-2">
					Website cung cấp các thông tin chi tiết, liên quan đến các loài cây ngập mặn ở phía Bắc - Khánh Hoà.
				</p>
			</div>
		</div>

		<!-- Contact -->
		<div class="col-12 col-sm-4 px-2">
			<div class="logo_title d-flex gap-2 align-items-center mb-3">
				<i class="fa-solid fa-phone color-tree fs-4"></i>
				<h5 class="m-0 text-white color_green_hover upper">@translate["User_Footer_lien_he"]</h5>
			</div>

			<div class="contact_information d-flex flex-column gap-2">
				<p>
					<span>@translate["User_Footer_dia_chi"]:</span>
					<span class="color_green_hover">02 Nguyễn Đình Chiểu, Vĩnh Thọ, Nha Trang, Khánh Hoà</span>
				</p>
				<p>
					<span>@translate["User_Footer_dien_thoai"]:</span>
					<span class="color_green_hover">+84 398 090 114</span>
				</p>
				<p>
					<span>Email:</span>
					<span class="color_green_hover">anhquan300503@gmail.com</span>
				</p>
			</div>
		</div>

		<!-- Follow -->
		<div class="col-12 col-sm-4 px-2">
			<div class="logo_title d-flex gap-2 align-items-center mb-3">
				<i class="fa-regular fa-eye color-tree fs-4"></i>
				<h5 class="m-0 text-white color_green_hover upper">@translate["User_Footer_theo_doi"]</h5>
			</div>

			<div class="social-info d-flex gap-3 text-white">
				<a target="_blank" href="https://ntu.edu.vn/" title="NTU" class="color_green_hover">
					<i class="fs-5 fa-solid fa-school"></i>
				</a>
				<a target="_blank" href="https://www.facebook.com/NTUedu.Fanpage/" title="Facebook"
					class="color_green_hover">
					<i class="fs-5 fa-brands fa-facebook"></i>
				</a>
			</div>

			<div class="admin mt-5 mt-sm-4 mb-3 d-flex gap-3 align-items-center">
				<i class="fa fa-user color-tree fs-5"></i>
				<h5 class="text-white color_green_hover upper">@translate["User_Footer_truy_cap"]</h5>
			</div>
			<a href='@Url.Action("Page_Login", "Auth")'
				class="text-white color_green_hover d-flex gap-2 align-items-center">
				<span style="text-decoration: underline;" title="@translate["User_Footer_admin"]">@translate["User_Footer_quan_tri_vien"]</span>
				<i class="fa-solid fa-backward animation_pointer"></i>
			</a>
		</div>
	</div>

	<div class="info_copy_right">
		<div class="container">
			<div class="frame_border_line">
				<div class="border-line"></div>
			</div>

			<div class="frame_text mt-3">
				<div class="text-center color_green_hover">
					<p>
						&copy;
						<script>document.write(new Date().getFullYear());</script>
						@translate["User_Footer_ban_quyen_thuoc_ve_truong_dai_hoc_nha_trang"]
						<i class="fa-regular fa-heart"></i>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Button: Scroll up-->
<a id="bottom_search" href='@Url.Action("Page_SpeciesComposition", "Home")' class="rounded-1" title="@translate["User_Footer_tim_kiem"]">
	<i class="icon-s fa fa-search"></i>
</a>

<!-- Button: Scroll up-->
<a id="scrollUp" href="#header" class="rounded-1" title="@translate["User_Footer_len_dau"]">
	<i class="fa fa-angle-up"></i>
</a>