@inject IStringLocalizer<Translate> translate
@model TblIndividual

@{
	bool isEN = Helper.Func.IsEnglish();
	ViewData["Title"] = translate["label_ca_the"];
	ViewData["InfoPage"] = translate["label_thong_tin_ca_the"] + $" ({translate["label_them"]})";
	ViewData["TypePage"] = "Page_Mangrove";

	Layout = Helper.Path.layoutAdmin;
	string _pv = Helper.Path.partialView;

	var dataTypes = TempData["DataTypes"] as List<string> ?? new List<string>();
	var dataBase64s = TempData["DataBase64s"] as List<string> ?? new List<string>();
	var noteENs = TempData["NoteENs"] as List<string> ?? new List<string>();
	var noteVIs = TempData["NoteVIs"] as List<string> ?? new List<string>();

	SelectList selectMangrove = (SelectList)ViewData["SelectMangrove"]!;
}

<input id="english" value="@translate["label_tieng_anh"]" hidden />
<input id="vietnamese" value="@translate["label_tieng_viet"]" hidden />
<input id="photo" value="@translate["label_hinh_anh"]" hidden />
<input id="description" value="@translate["label_mo_ta"]" hidden />

<section class="mod-add-individual">
	<div class="container py-2">
		<form action="" method="post" enctype="multipart/form-data">
			<!-- Frame button -->
			<div class="d-flex justify-content-center my-3 gap-2">
				<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageListIndex, true)"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
					<i class="fa-solid fa-list"></i>
					<span class="hidden_mobile">@translate["label_quay_lai_danh_sach"]</span>
				</button>

				<button type="button" onclick="location.href = location.href;"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-secondary opacity_hover btn_loading">
					<i class="fa-solid fa-eraser"></i>
					<span class="hidden_mobile">@translate["label_xoa_sach"]</span>
				</button>

				<button type="submit" class="btn_submit_form px-3 py-2 border-none outline-none bg-tree rounded-1 text-white opacity_hover time_delay_500ms btn_loading">
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">@translate["label_them"]</span>
				</button>
			</div>

			<!-- Thành phần loài và vị trí -->
			<div class="box bg-white mb-2 rounded-1 overflow-hidden">
				<div class="toggle_title cursor-pointer text-center mb-2">
					<h6 class="py-2 bg-black text-white">Thành phần loài và vị trí</h6>
				</div>

				<div class="info bg-form">
					<div class="frame_info_and_position d-sm-flex">
						<div class="top col-sm-6 p-2">
							<div class="mt-1">
								<small class="mb-1 d-block font-small">Thành phần loài</small>
								<select class="w-100 border-none bg-white outline-none green_effect py-1 rounded-1 text_body"
										name="chooseIdMangrove"
										asp-items="@selectMangrove">
								</select>
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>

							<div class="mt-1">
								<small class="mb-1 d-block font-small">Kinh độ</small>
								<input type="text" asp-for="@Model.Longitude" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>

							<div class="mt-1">
								<small class="mb-1 d-block font-small">Vĩ độ</small>
								<input type="text" asp-for="@Model.Latitude" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>
						</div>

						<div class="bottom col-sm-6 p-2">
							<div class="mt-1">
								<small class="mb-1 d-block font-small">Vị trí (Tiếng Anh)</small>
								<input type="text" asp-for="@Model.PositionEn" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>

							<div class="mt-1">
								<small class="mb-1 d-block font-small">Vị trí (Tiếng Việt)</small>
								<input type="text" asp-for="@Model.PositionVi" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Giai đoạn -->
			<div class="box bg-white mb-2 rounded-1 overflow-hidden">
				<div class="toggle_title cursor-pointer text-center mb-2">
					<h6 class="py-2 bg-black text-white">Giai đoạn</h6>
				</div>

				<div class="info bg-form">
					<div class="frame_info_and_position d-sm-flex">
						<div class="top col-sm-6 p-2 d-flex flex-column justify-content-between">
							<div class="mt-1">
								<small class="mb-1 d-block font-small">Hình ảnh</small>
								<div class="d-flex justify-content-center">
									<div class="add_img col-12 rounded-1 p-2">
										<div class="input_img bg-white d-flex justify-content-center align-items-center w-100 h-100">
											<button class="btn_add_img outline-none color-tree bg-transparent fs-1 px-4 py-2 border rounded-1"
													type="button">
												<i class="icon_add fa-solid fa-plus"></i>
											</button>
											<input class="file" name="ImageFile" type="file" hidden />
											<div class="overflow-hidden w-h-0">
												<input class="image_type" name="dataTypes" />
												<input class="image_data" name="dataBase64s" />
											</div>
										</div>

										<div class="preview_img position-relative d-none w-100 ">
											<img class="show_temp object-fit-cover mx-auto d-block rounded-1 click_show_image img_max_height"
												 alt="" />

											<button class="btn_remove_preview_img"
													type="button">
												<i class="icon_remove fa-solid fa-xmark"></i>
											</button>
										</div>
										<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
									</div>
								</div>
							</div>

							<div class="mt-1">
								<small class="mb-1 d-block font-small">Ngày khảo sát</small>
								<input type="date" name="" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>
						</div>

						<div class="bottom col-sm-6 p-2">
							<div class="mt-1">
								<small class="mb-1 d-block font-small">Tên (Tiếng Anh)</small>
								<input type="text" name="" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>

							<div class="mt-1">
								<small class="mb-1 d-block font-small">Tên (Tiếng Việt)</small>
								<input type="text" name="" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>

							<div class="mt-1">
								<small class="mb-1 d-block font-small">Thời tiết (Tiếng Anh)</small>
								<input type="text" name="" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>

							<div class="mt-1">
								<small class="mb-1 d-block font-small">Thời tiết (Tiếng Việt)</small>
								<input type="text" name="" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
								<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Frame button -->
			<div class="d-flex justify-content-center my-3 gap-2">
				<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageListIndex, true)"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
					<i class="fa-solid fa-list"></i>
					<span class="hidden_mobile">@translate["label_quay_lai_danh_sach"]</span>
				</button>

				<button type="button" onclick="location.href = location.href;"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-secondary opacity_hover btn_loading">
					<i class="fa-solid fa-eraser"></i>
					<span class="hidden_mobile">@translate["label_xoa_sach"]</span>
				</button>

				<button type="submit" class="btn_submit_form px-3 py-2 border-none outline-none bg-tree rounded-1 text-white opacity_hover time_delay_500ms btn_loading">
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">@translate["label_them"]</span>
				</button>
			</div>
		</form>
	</div>
</section>	