@inject IStringLocalizer<Translate> translate
@model Mangrove_Admin_VM
@{
	var isEN = Helper.Func.IsLanguage("en");
	ViewData["Title"] = translate["label_thanh_phan_loai"];
	ViewData["InfoPage"] = translate["label_cay_ngap_man"] + $" ({translate["label_them"]})";
	ViewData["TypePage"] = "Page_Mangrove";

	Layout = Helper.Path.layoutAdmin;
	string pv = Helper.Path.partialView;
}

<input id="english" value="@translate["label_tieng_anh"]" hidden />
<input id="vietnamese" value="@translate["label_tieng_viet"]" hidden />
<input id="photo" value="@translate["label_hinh_anh"]" hidden />
<input id="description" value="@translate["label_mo_ta"]" hidden />

<section class="mod-add-mangrove">
	<div class="container py-2">
		<form action="" method="post" enctype="multipart/form-data">
			<!-- Slides -->
			<div class="frame_slide rounded-1 mb-2 bg-form box">
				<div class="toggle_title text-center mb-2 cursor-pointer">
					<h6 class="py-2 bg-black text-white rounded-1">
						Slide (<span class="quantity_item">@(Model.Photos.Any() ? Model.Photos.Count() : 1)</span>/@Helper.Variable.maxItem)
					</h6>
				</div>

				<div class="info">
					<p class="mb-1 text-danger text-center">@ViewData["NotPhoto"]</p>

					<div class="items">
						@{
							if (!Model.Photos.Any())
							{
								for (int i = 1; i <= Helper.Variable.maxItem; i++)
								{
									Model.Photos.Add(new Photo_Mangrove_Admin_VM());
								}

								<div class="add_item py-2 mb-3 rounded-1 d-flex flex-wrap gap-1 gap-lg-0 position-relative border_detail">
									<button class="btn_remove_item" type="button">
										<i class="icon_remove_item fa-solid fa-xmark"></i>
									</button>

									<div class="add_img col-12 col-lg-6 add_img_min_height rounded-1 p-2">
										<p class="text-center">@translate["label_hinh_anh"]</p>

										<div class="input_img bg-white d-flex justify-content-center align-items-center" style="height: calc(100% - 27px);">
											<button class="btn_add_img outline-none color-tree bg-transparent fs-1 px-4 py-2 border rounded-1"
													type="button">
												<i class="icon_add fa-solid fa-plus"></i>
											</button>
											<input class="file" name="ImageFile" type="file" hidden />
											<div class="overflow-hidden w-h-0">
												<input class="image_type" asp-for="@Model.Photos[0].Image.DataType" />
												<input class="image_data" asp-for="@Model.Photos[0].Image.DataBase64" />
											</div>
										</div>

										<div class="preview_img position-relative d-none" style="height: calc(100% - 27px);">
											<img class="show_temp object-fit-cover mx-auto d-block rounded-1 click_show_image img_max_height"
												 alt="" />

											<button class="btn_remove_preview_img"
													type="button">
												<i class="icon_remove fa-solid fa-xmark"></i>
											</button>
										</div>
									</div>

									<div class="add_content col-12 col-lg-6 d-lg-flex flex-lg-wrap p-2">
										<p class="text-center col-12 align-self-start">@translate["label_mo_ta"]</p>

										<div class="add_content_item mt-1 m-lg-0 col-12">
											<small class="mb-1 d-block font-small">@translate["label_tieng_anh"]</small>
											<input type="text" asp-for="@Model.Photos[0].NoteImgEn" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" />
										</div>

										<div class="add_content_item mt-1 m-lg-0 col-12">
											<small class="mb-1 d-block font-small">@translate["label_tieng_viet"]</small>
											<input type="text" asp-for="@Model.Photos[0].NoteImgVi" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" />
										</div>
									</div>
								</div>
							}
							else
							{
								for (int i = 0; i < Model.Photos.Count(); i++)
								{
									bool haveImage = !string.IsNullOrEmpty(Model.Photos[i].Image.DataBase64);

									<div class="add_item py-2 mb-3 rounded-1 d-flex flex-wrap gap-1 gap-lg-0 position-relative border_detail">
										<button class="btn_remove_item" type="button">
											<i class="icon_remove_item fa-solid fa-xmark"></i>
										</button>

										<div class="add_img col-12 col-lg-6 add_img_min_height rounded-1 p-2">
											<p class="text-center">@translate["label_hinh_anh"]</p>

											<div class="input_img @(haveImage ? "d-none" : "") bg-white d-flex justify-content-center align-items-center" style="height: calc(100% - 27px);">
												<button class="btn_add_img outline-none color-tree bg-transparent fs-1 px-4 py-2 border rounded-1"
														type="button">
													<i class="icon_add fa-solid fa-plus"></i>
												</button>
												<input class="file" name="ImageFile" type="file" hidden />
												<div class="overflow-hidden w-h-0">
													<input class="image_type" asp-for="@Model.Photos[i].Image.DataType" />
													<input class="image_data" asp-for="@Model.Photos[i].Image.DataBase64" />
												</div>
											</div>

											<div class="preview_img position-relative @(haveImage ? "" : "d-none")" style="height: calc(100% - 27px);">
												<img class="show_temp object-fit-cover mx-auto d-block rounded-1 click_show_image img_max_height"
													 src="@Model.Photos[i].Image.DataBase64"
													 alt="" />

												<button class="btn_remove_preview_img"
														type="button">
													<i class="icon_remove fa-solid fa-xmark"></i>
												</button>
											</div>

											<p class="text-danger small_font text-center">@Helper.Validate.ShowError()</p>
										</div>

										<div class="add_content col-12 col-lg-6 d-lg-flex flex-lg-wrap p-2">
											<p class="text-center col-12 align-self-start">@translate["label_mo_ta"]</p>

											<div class="add_content_item mt-1 m-lg-0 col-12">
												<small class="mb-1 d-block font-small">@translate["label_tieng_anh"]</small>
												<input type="text" asp-for="@Model.Photos[i].NoteImgEn" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" />
												<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
											</div>

											<div class="add_content_item mt-1 m-lg-0 col-12">
												<small class="mb-1 d-block font-small">@translate["label_tieng_viet"]</small>
												<input type="text" asp-for="@Model.Photos[i].NoteImgVi" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" />
												<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
											</div>
										</div>
									</div>
								}
							}
						}
					</div>

					<div class="text-center py-2">
						<button class="btn_add_item bg-black text-white rounded-1 border-none px-3 py-2"
								type="button"
								data-image-type="Image.DataType"
								data-base64="Image.DataBase64"
								att1="NoteImgEn"
								att2="NoteImgVi"
								attExtra1="Photos"
								onclick="item.addItem();">
							<i class="fa-solid fa-plus"></i>
							@translate["label_them_anh"]
						</button>
					</div>
				</div>
			</div>

			<!-- Info name -->
			<div class="frame_name_info rounded-1 mb-2 bg-form box">
				<div class="toggle_title text-center mb-2 cursor-pointer">
					<h6 class="py-2 bg-black text-white rounded-1">@translate["label_thong_tin"]</h6>
				</div>

				<div class="info px-2 add_content d-flex flex-wrap justify-content-lg-between">
					<div class="left col-12 col-lg-6 d-flex flex-column gap-1 pr-10">
						<div class="add_content_item mt-1 m-lg-0">
							<small class="mb-1 d-block font-small">@translate["label_ten"] (@translate["label_tieng_anh"])</small>
							<input type="text" asp-for="@Model.NameEn" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>

						<div class="add_content_item mt-1 m-lg-0">
							<small class="mb-1 d-block font-small">@translate["label_ten"] (@translate["label_tieng_viet"])</small>
							<input type="text" asp-for="@Model.NameVi" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>

						</div>

						<div class="add_content_item mt-1 m-lg-0">
							<small class="mb-1 d-block font-small">@translate["label_ten_khoa_hoc"]</small>
							<input type="text" asp-for="@Model.ScientificName" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>
					</div>

					<div class="right col-12 col-lg-6 d-flex flex-column gap-1 pl-10">
						<div class="add_content_item mt-1 m-lg-0">
							<small class="mb-1 d-block font-small">@translate["label_ten_khac"] (@translate["label_tieng_anh"])</small>
							<input class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" type="text" asp-for="@Model.CommonNameEn" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>

						<div class="add_content_item mt-1 m-lg-0">
							<small class="mb-1 d-block font-small">@translate["label_ten_khac"] (@translate["label_tieng_viet"])</small>
							<input class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" type="text" asp-for="@Model.CommonNameVi" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>

						<div class="add_content_item mt-1 m-lg-0">
							<small class="mb-1 d-block font-small">@translate["label_ho"]</small>
							<input class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" type="text" asp-for="@Model.Familia" />
							<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Morophophy -->
			<div class="frame_morphophy rounded-1 mb-2 bg-form box">
				<div class="toggle_title text-center mb-2 cursor-pointer">
					<h6 class="py-2 bg-black text-white rounded-1">@translate["label_hinh_thai"]</h6>
				</div>

				<div class="info px-2 add_content d-flex flex-wrap justify-content-lg-between">
					<div class="add_content_item col-12 col-lg-6 mt-1 m-lg-0 pr-10">
						<small class="mb-1 d-block font-small">@translate["label_tieng_anh"]</small>
						<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" asp-for="@Model.MorphologyEn" cols="30" rows="7"></textarea>
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>

					<div class="add_content_item col-12 col-lg-6 mt-1 m-lg-0 pl-10">
						<small class="mb-1 d-block font-small">@translate["label_tieng_viet"]</small>
						<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" asp-for="@Model.MorphologyVi" cols="30" rows="7"></textarea>
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>
				</div>
			</div>

			<!-- Eocology -->
			<div class="frame_morphophy rounded-1 mb-2 bg-form box">
				<div class="toggle_title text-center mb-2 cursor-pointer">
					<h6 class="py-2 bg-black text-white rounded-1">@translate["label_sinh_thai"]</h6>
				</div>

				<div class="info px-2 add_content d-flex flex-wrap justify-content-lg-between">
					<div class="add_content_item col-12 col-lg-6 mt-1 m-lg-0 pr-10">
						<small class="mb-1 d-block font-small">@translate["label_tieng_anh"]</small>
						<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" asp-for="@Model.EcologyEn" cols="30" rows="7"></textarea>
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>

					<div class="add_content_item col-12 col-lg-6 mt-1 m-lg-0 pl-10">
						<small class="mb-1 d-block font-small">@translate["label_tieng_viet"]</small>
						<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" asp-for="@Model.EcologyVi" cols="30" rows="7"></textarea>
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>
				</div>
			</div>

			<!-- Use -->
			<div class="frame_morphophy rounded-1 mb-2 bg-form box">
				<div class="toggle_title text-center mb-2 cursor-pointer">
					<h6 class="py-2 bg-black text-white rounded-1">@translate["label_cong_dung"]</h6>
				</div>

				<div class="info px-2 add_content d-flex flex-wrap justify-content-lg-between">
					<div class="add_content_item col-12 col-lg-6 mt-1 m-lg-0 pr-10">
						<small class="mb-1 d-block font-small">@translate["label_tieng_anh"]</small>
						<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" asp-for="@Model.UseEn" cols="30" rows="7"></textarea>
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>

					<div class="add_content_item col-12 col-lg-6 mt-1 m-lg-0 pl-10">
						<small class="mb-1 d-block font-small">@translate["label_tieng_viet"]</small>
						<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" asp-for="@Model.UseVi" cols="30" rows="7"></textarea>
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>
				</div>
			</div>

			<!-- Distribution and Conservation status -->
			<div class="frame_morphophy rounded-1 mb-2 bg-form box">
				<div class="toggle_title text-center mb-2 cursor-pointer">
					<h6 class="py-2 bg-black text-white rounded-1">@translate["label_phan_bo_va_tinh_trang"]</h6>
				</div>

				<div class="info px-2 add_content d-flex flex-wrap justify-content-lg-between">
					<div class="add_content_item col-12 col-lg-6 mt-1 m-lg-0 pr-10">
						<small class="mb-1 d-block font-small">@translate["label_phan_bo"] (@translate["label_tieng_anh"])</small>
						<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" asp-for="@Model.DistributionEn" cols="30" rows="3"></textarea>
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>

					<div class="add_content_item col-12 col-lg-6 mt-1 m-lg-0 pl-10">
						<small class="mb-1 d-block font-small">@translate["label_phan_bo"] (@translate["label_tieng_viet"])</small>
						<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" asp-for="@Model.DistributionVi" cols="30" rows="3"></textarea>
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>

					<div class="add_content_item col-12 col-lg-6 mt-1 m-lg-0 pr-10">
						<small class="mb-1 d-block font-small">@translate["label_tinh_trang_bao_ton"] (@translate["label_tieng_anh"])</small>
						<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" asp-for="@Model.ConservationStatusEn" cols="30" rows="3"></textarea>
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>

					<div class="add_content_item col-12 col-lg-6 mt-1 m-lg-0 pl-10">
						<small class="mb-1 d-block font-small">@translate["label_tinh_trang_bao_ton"] (@translate["label_tieng_viet"])</small>
						<textarea class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1" asp-for="@Model.ConservationStatusVi" cols="30" rows="3"></textarea>
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>
				</div>
			</div>

			<!-- Frame button -->
			<div class="d-flex justify-content-center my-3 gap-2">
				<button type="button" onclick="saveLinkBack.getUrlIndex();"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover">
					<i class="fa-solid fa-list"></i>
					<span class="hidden_mobile">@translate["label_quay_lai_danh_sach"]</span>
				</button>

				<button type="button" onclick="location.reload();"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-secondary opacity_hover">
					<i class="fa-solid fa-eraser"></i>
					<span class="hidden_mobile">@translate["label_xoa_sach"]</span>
				</button>

				<button type="submit" class="btn_submit_form px-3 py-2 border-none outline-none bg-tree rounded-1 text-white opacity_hover time_delay_500ms">
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">@translate["label_them"]</span>
				</button>
			</div>
		</form>
	</div>
</section>							