@inject IStringLocalizer<Translate> translate
@{
	var isEN = Helper.Func.IsEnglish();
	ViewData["Title"] = @translate["label_dang_nhap"];
	Layout = Helper.Path.layoutAdmin_Auth;
}

<form action="" method="post" class="w-100 px-3 px-xl-5">
	<h3 class="text-center mb-3">@translate["label_dang_nhap"]</h3>

	<div class="px-2 d-flex justify-content-center align-items-center bg-white my-2 rounded-2">
		<i class="fa-solid fa-user col-1"></i>
		<input name="account" type="text" placeholder="@translate["label_tai_khoan"]" value="@TempData["Account"]" autofocus
			   class="col-11 border-none py-2 outline-none">
	</div>

	<div class="frame_password px-2 d-flex justify-content-center align-items-center bg-white my-2 rounded-2">
		<i class="fa-solid fa-key col-1"></i>
		<input name="password" type="password" placeholder="@translate["label_mat_khau"]"
			   class="col-10 border-none py-2 outline-none">
		<span class="d-flex col-1 justify-content-center cursor-pointer">
			<i class="icon_eye icon_eye_open fa-solid fa-eye d-none"></i>
			<i class="icon_eye icon_eye_close fa-regular fa-eye-slash"></i>
		</span>
	</div>

	<div class="d-flex justify-content-between align-items-center mt-3">
		<a href='@Url.Action("Page_ForgottenPassword_Find", "Auth")'
		   class="forgotten_password underline_hover text_tree_hover">@translate["label_quen_mat_khau"] ?</a>
		<button class="btn_auth bg-tree text-white bg_black_hover time_delay_500ms">@translate["label_dang_nhap"]</button>
	</div>
</form>