@{
    ViewData["Title"] = "Đăng nhập";
    Layout = Helper.Path.layoutAdmin_Login;
}

<section class="module-login h-100 w-100" style="background-image: url('@Url.Content("~/img/logo/bg-footer.jpg")');">
    <div class="container h-100 d-flex flex-column align-items-center justify-content-center">
        <div class="wrapper d-flex flex-column position-relative">
            @await Html.PartialAsync($"{Helper.Path.partialViewLayout}/_Both_Notifier.cshtml")

            <div class="display d-flex h-100">
                <div class="img col-lg-6 d-none d-lg-block">
                    <img class="h-100 w-100 object-fit-cover" src="~/img/logo/img_bg.jpg" alt="">
                </div>

                <div class="form col-12 h-100 col-lg-6 d-flex flex-column justify-content-center align-items-center position-relative"
                    style="background-color: #deefdd;">
                    <div class="title_info text-center position-absolute" style="top: 10px;">
                        <a href='@Url.Action("Page_Index", "Home")'>
                            <h5 class="color-tree">ĐẠI HỌC NHA TRANG</h5>
                        </a>
                        <a href='@Url.Action("Page_Index", "Home")'>
                            Viện Công Nghệ Sinh Học & Môi Trường
                        </a>
                    </div>

                    <div class="logo" style="height: 70px; width: 70px;">
                        <img class="h-100 w-100" src="~/img/logo/logo.png" alt="">
                    </div>

                    <form action="" method="post" class="w-100 px-3 px-xl-5">
                        <h3 class="text-center mb-3">Đăng nhập</h3>

                        <div class="px-2 d-flex justify-content-center align-items-center bg-white my-2 rounded-2">
                            <i class="fa-solid fa-user col-1"></i>
                            <input name="account" type="text" placeholder="Tài khoản" value="@ViewBag.account" autofocus
                                class="col-11 border-none py-2 outline-none">
                        </div>

                        <div
                            class="frame_password px-2 d-flex justify-content-center align-items-center bg-white my-2 rounded-2">
                            <i class="fa-solid fa-key col-1"></i>
                            <input name="password" type="password" placeholder="Mật khẩu"
                                class="col-10 border-none py-2 outline-none">
                            <span class="d-flex col-1 justify-content-center cursor-pointer">
                                <i class="icon_eye icon_eye_open fa-solid fa-eye d-none"></i>
                                <i class="icon_eye icon_eye_close fa-regular fa-eye-slash"></i>
                            </span>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <a href='@Url.Action("Page_ForgottenPassword_Find", "Auth")'
                                class="forgotten_password underline_hover color_green_hover">Quên mật khẩu ?</a>
                            <button class="btn_auth">Đăng nhập</button>
                        </div>
                    </form>

                    <div class="link_home">
                        <a href='@Url.Action("Page_Index", "Home")' class="underline_hover color_green_hover">
                            Về trang chủ?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>