@inject IStringLocalizer<Translate> translate
@{
	ViewData["Title"] = @translate["label_quen_mat_khau"];
	Layout = Helper.Path.layoutAdmin_Auth;
}

<form action="" method="post" class="w-100 px-3 px-xl-5">
	<h3 class="text-center mb-3">@translate["label_quen_mat_khau"]</h3>

	<div class="px-2 d-flex justify-content-center align-items-center bg-white my-2 rounded-2">
		<i class="fa-solid fa-hashtag col-1"></i>
		<input name="account" type="text" placeholder="@translate["label_nhap_ma_6_so"]" value="@ViewBag.account"
			   autofocus class="col-11 border-none py-2 outline-none">
	</div>

	<div class="frame_password px-2 d-flex justify-content-center align-items-center bg-white my-2 rounded-2">
		<i class="fa-solid fa-key col-1"></i>
		<input name="passwordNew" type="password" placeholder="@translate["label_nhap_mat_khau_moi"]"
			   class="col-10 border-none py-2 outline-none">
		<span class="d-flex col-1 justify-content-center cursor-pointer">
			<i class="icon_eye icon_eye_open fa-solid fa-eye d-none"></i>
			<i class="icon_eye icon_eye_close fa-regular fa-eye-slash"></i>
		</span>
	</div>

	<div class="frame_password px-2 d-flex justify-content-center align-items-center bg-white my-2 rounded-2">
		<i class="fa-solid fa-key col-1"></i>
		<input name="passwordNewConfirm" type="password" placeholder="@translate["label_nhap_lai_mat_khau_moi"]"
			   class="col-10 border-none py-2 outline-none">
		<span class="d-flex col-1 justify-content-center cursor-pointer">
			<i class="icon_eye icon_eye_open fa-solid fa-eye d-none"></i>
			<i class="icon_eye icon_eye_close fa-regular fa-eye-slash"></i>
		</span>
	</div>

	<div class="d-flex justify-content-between align-items-center mt-3">
		<a href='@Url.Action("Page_Login", "Auth")'
		   class="forgotten_password underline_hover color_green_hover">
		   @translate["label_quay_lai_dang_nhap"] ?
	   </a>
		<button class="btn_auth">@translate["label_luu"]</button>
	</div>
</form>
