@inject IStringLocalizer<Translate> translate
@model TblMangrove

@{
	bool isEN = Helper.Func.IsLanguage("en");
	ViewData["Title"] = isEN ? Model.NameEn : Model.NameVi;
	ViewData["InfoPage"] = isEN ? "Mangrove infomation" : "Thông tin cây";
	ViewData["TypePage"] = "Page_SpeciesComposition";

	Layout = Helper.Path.layoutUser;
	string _pv = Helper.Path.partialView;
	TempData["Id"] = Model.Id;
	List<TblPhoto> photos = TempData["Photos"] as List<TblPhoto> ?? new List<TblPhoto>();
}

@await Html.PartialAsync($"{_pv}/User_Back.cshtml", Model.View)

<section class="mangrove_result">
	<div class="container py-3">
		<!-- Images -->
		<div class="box rounded-1 overflow-hidden bg-transparent mb-2">
			<div class="toggle_title text-center mb-2">
				<h5 class="py-2 bg-black text-white">@translate["label_hinh_anh"]</h5>
			</div>

			<div class="info">
				<div class="images slick_slider height_responsive">
					<div class="slides">
						@foreach (var photo in photos)
						{
							string img = $"/img/tree-img/{photo.ImageName}";
							<div class="slide_item" note="@(isEN ? photo.NoteImgEn : photo.NoteImgVi)">
								<img class="rounded-1 click_show_image" src="@img" />
							</div>
						}
					</div>
				</div>

				<div class="show_description_photo">
					<p class="pt-1 px-2 text-center"></p>
				</div>
			</div>
		</div>

		<!-- Info: Name, Consrevation status, Uses -->
		<div class="box rounded-1 overflow-hidden bg-white mb-2">
			<div class="toggle_title text-center mb-2">
				<h5 class="py-2 bg-black text-white">@translate["label_thong_tin"]</h5>
			</div>

			<div class="info">
				<h4 class="text-center mb-2 fw-bold qr_name_mangrove">
					@(isEN ? Model.NameEn : Model.NameVi)
				</h4>
				<div class="wrapper d-flex flex-wrap">
					<div class="name_info p-2 col-12 col-sm-6">
						<p class="d-flex justify-content-between d-sm-block">
							<span class="space_word fw-bold">@translate["label_ten_khac"]:</span>
							<span>@(isEN ? Model.CommonNameEn : Model.CommonNameVi)</span>
						</p>
						<p class="d-flex justify-content-between d-sm-block">
							<span class="space_word fw-bold">@translate["label_ten_khoa_hoc"]:</span>
							<span>@Model.ScientificName</span>
						</p>
						<p class="d-flex justify-content-between d-sm-block">
							<span class="space_word fw-bold">@translate["label_ho"]:</span>
							<span>@Model.Familia</span>
						</p>
					</div>

					<div class="use_info p-2 col-12 col-sm-6">
						<p class="fw-bold">@translate["label_cong_dung"]:</p>
						<p class="text-justify">@Html.Raw(Helper.Func.Show(isEN ? Model.UseEn : Model.UseVi))</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Morphology -->
		<div class="box rounded-1 overflow-hidden bg-white mb-2">
			<div class="toggle_title text-center mb-2">
				<h5 class="py-2 bg-black text-white">@translate["label_hinh_thai"]</h5>
			</div>

			<div class="info morphology_info">
				<p class="p-2 text-justify">@Html.Raw(Helper.Func.Show(isEN ? Model.MorphologyEn : Model.MorphologyVi))</p>
			</div>
		</div>

		<!-- Ecology -->
		<div class="box rounded-1 overflow-hidden bg-white mb-2">
			<div class="toggle_title text-center mb-2">
				<h5 class="py-2 bg-black text-white">@translate["label_sinh_thai"]</h5>
			</div>

			<div class="info ecology_info">
				<p class="p-2 text-justify">@Html.Raw(Helper.Func.Show(isEN ? Model.EcologyEn : Model.EcologyVi))</p>
			</div>
		</div>

		<!-- Distribute & Convervation -->
		<div class="box rounded-1 overflow-hidden bg-white mb-2">
			<div class="toggle_title text-center mb-2">
				<h5 class="py-2 bg-black text-white">@translate["label_phan_bo_va_tinh_trang"]</h5>
			</div>

			<div class="info d-flex flex-wrap">
				<div class="conservation_status_info p-2 col-12 col-sm-6">
					<p class="fw-bold">@translate["label_phan_bo_phia_bac"]:</p>
					<p>@Html.Raw(Helper.Func.Show(isEN ? Model.DistributionEn : Model.DistributionVi))</p>
				</div>

				<div class="conservation_status_info p-2 col-12 col-sm-6">
					<p class="fw-bold">@translate["label_tinh_trang_bao_ton"]:</p>
					<p>@Html.Raw(Helper.Func.Show(isEN ? Model.ConservationStatusEn : Model.ConservationStatusVi))</p>
				</div>
			</div>
		</div>

		<!-- Individuals -->
		<div class="box rounded-1 overflow-hidden bg-white mb-2">
			<div class="toggle_title text-center mb-2">
				<h5 class="py-2 bg-black text-white">@translate["label_cac_ca_the_do_dac"]</h5>
			</div>

			<div class="info individuals_info">
				@{																				  
					if (Model.TblIndividuals.Count() > 0)
					{
						<div class="frame_measure p-2">
							<div class="form_search">
								<div class="search d-flex justify-content-center">
									<div
										class="form_input border green_effect d-flex h-100 align-items-center justify-content-center gap-1 px-2 rounded-1 overflow-hidden">
										<i id="icon-s" class="fa fa-search"></i>
										<i id="icon-w" class="fa-solid fa-spinner wait_load d-none"></i>
										<input class="p-2 border-none flex-grow-1 outline-none" id-mangrove="@Model.Id"
											type="search" id="searchInvidiual"
											   placeholder="@translate["label_search_key_word"]">
									</div>
								</div>

								<div class="bg-black mt-3" style="height: 3px;"></div>

								<div class="list_individuals d-lg-flex flex-lg-wrap justify-content-lg-between pb-1 pt-2">
									@await Html.PartialAsync($"{_pv}/User_Individuals.cshtml", Model.TblIndividuals)
								</div>
							</div>
						</div>
					}
					else
					{
						<p class="text-center col-12 pb-2">@translate["label_chua_co_ca_the_nao"]</p>
					}
				}
			</div>
		</div>
	</div>
</section>

@await Html.PartialAsync($"{_pv}/User_Back.cshtml", Model.View)
