@inject IStringLocalizer<Translate> translate
@model InfoStagesOfIndividual_Client_VM

@{
	bool isEN = Helper.Func.IsEnglish();
	ViewData["Title"] = Model.NameMangrove;
	ViewData["InfoPage"] = translate["label_thong_tin_ca_the"];
	ViewData["TypePage"] = "Page_SpeciesComposition";

	Layout = Helper.Path.layoutUser;
	string _pv = Helper.Path.partialView;

	var BackPage = new BackPage_Client_VM(Helper.Key.clientToPageIndividual, Model.Individual.View);
}

@await Html.PartialAsync($"{_pv}/User_Back.cshtml", BackPage)

<input class="qr_name_mangrove" value="@Model.NameMangrove" hidden />

<section class="individual_display container py-2 info_qr infor_stage">
	@{
		if (Model.Stages.Any())
		{
			<div class="tabs d-flex justify-content-center gap-3 gap-sm-2">
				@{
					int countStage = 1;
					foreach (var stage in Model.Stages)
					{
						<span class="tab_item tab py-2 px-3 bg-white rounded-circle cursor-pointer @(countStage == 1 ? "active" : string.Empty)">
							@(countStage++)
						</span>
					}
				}
			</div>

			<div class="display mt-3">
				@{
					countStage = 1;
					foreach (var stage in Model.Stages)
					{
						<div class="display_item @(countStage++ == 1 ? string.Empty : "d-none")">
							<div class="box bg-white mb-2 rounded-1 overflow-hidden">
								<div class="toggle_title cursor-pointer text-center mb-2">
									<h6 class="py-2 bg-black text-white">@(isEN ? stage.info.NameEn : stage.info.NameVi)</h6>
								</div>

								<div class="info title d-flex flex-wrap">
									<div class="col-12 col-sm-5 text-center pb-2" style="height: 300px;">
										<img class="h-100 object-fit-cover click_show_image rounded-1"
											 style="max-width: 100%;"
											 src="/img/stage-img/@stage.info.MainImage" alt="">
									</div>

									<div class="col-12 col-sm-7 pb-2 d-flex flex-column justify-content-center px-2">
										<h5 class="text-center mb-2 fw-bold text-sm-start">@Model.NameMangrove</h5>
										<p class="d-flex justify-content-between justify-content-lg-start">
											<span style="width: 120px;">@translate["label_ngay_khao_sat"]:</span>
											<span>@stage.info.SurveyDay.ToString("dd/MM/yyyy")</span>
										</p>

										<p class="d-flex justify-content-between justify-content-lg-start">
											<span style="width: 120px;">@translate["label_vi_tri_khao_sat"]:</span>
											<span class="qr_pos">@(isEN ? Model.Individual.PositionEn : Model.Individual.PositionVi)</span>
										</p>

										@if (!String.IsNullOrEmpty(isEN ? stage.info.WeatherEn : stage.info.WeatherVi))
										{
											<p class="d-flex justify-content-between justify-content-lg-start">
												<span style="width: 120px;">@translate["label_thoi_tiet_khao_sat"]:</span>
												<span>@(isEN ? stage.info.WeatherEn : stage.info.WeatherVi)</span>
											</p>
										}

										<p class="d-flex justify-content-between justify-content-lg-start">
											<span style="width: 120px;">@translate["label_kinh_do_khao_sat"]:</span>
											<span class="qrLongitude">@Model.Individual.Longitude</span>
										</p>

										<p class="d-flex justify-content-between justify-content-lg-start">
											<span style="width: 120px;">@translate["label_vi_do_khao_sat"]:</span>
											<span class="qrLatitude">@Model.Individual.Latitude</span>
										</p>
									</div>
								</div>
							</div>

							<div class="box bg-white mb-2 rounded-1">
								<div class="toggle_title cursor-pointer text-center mb-2">
									<h6 class="py-2 bg-black text-white rounded-1">@translate["label_hinh_anh_chi_tiet"]</h6>
								</div>

								<div class="info d-flex flex-wrap" style="max-height: max-content;">
									@{
										if (stage.photo.Count > 0)
										{
											foreach (var photo in stage.photo)
											{
												{
													<div class="col-12 col-sm-6 col-lg-4 p-2">
														<div class="overflow-hidden" style="height: 500px;">
															<img class="w-100 h-100 rounded-1 object-fit-cover click_show_image time_delay_500ms scale_hover lazy-load"
																 data-src="/img/stage-img/@photo.ImageName"
																 alt="">
														</div>
														<p class="text-center mt-1">@(isEN ? photo.NoteImgEn : photo.NoteImgVi)</p>
													</div>
												}
											}
										}
										else
										{
											<p class="text-center col-12 pb-2">@translate["label_giai_doan_chua_co_hinh_anh_chi_tiet"]</p>
										}
									}
								</div>
							</div>
						</div>
					}
				}
			</div>
		}
		else
		{
			<!-- Thành phần loài và vị trí -->
			<div class="box bg-white mb-2 rounded-1">
				<div class="toggle_title cursor-pointer text-center mb-2 position-sticky top-0" style="z-index: 4;">
					<h6 class="py-2 bg-black text-white rounded-1">@translate["label_thanh_phan_loai_va_tri_tri"]</h6>
				</div>

				<div class="info bg-form">
					<div class="frame_info_and_position d-sm-flex">
						<div class="top col-sm-6 p-2">
							<div class="mt-1">
								<small class="mb-1 d-block font-small">@translate["label_thanh_phan_loai"]</small>
								<p class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body">@Model.NameMangrove</p>
							</div>

							<div class="mt-1">
								<small class="mb-1 d-block font-small">@translate["label_vi_tri_khao_sat"] (@translate["label_tieng_anh"])</small>
								<p class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body">@(isEN ? Model.Individual.PositionEn : Model.Individual.PositionVi)</p>
							</div>
						</div>

						<div class="bottom col-sm-6 p-2">
							<div class="mt-1">
								<small class="mb-1 d-block font-small">@translate["label_kinh_do_khao_sat"]</small>
								<p class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body">@Model.Individual.Longitude</p>
							</div>

							<div class="mt-1">
								<small class="mb-1 d-block font-small">@translate["label_vi_do_khao_sat"]</small>
								<p class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body">@Model.Individual.Latitude</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	}

</section>

@await Html.PartialAsync($"{_pv}/User_Back.cshtml", BackPage)

<button id="btnQRFixed"
		class="rounded-1 click_show_qr outline_tree_hover bg_white_hover text_black_hover"
		title="QR"
		src="/img/qr-img/@Model.Individual.QrName">
	<i class="fa-solid fa-qrcode"></i>
</button>
