@inject IStringLocalizer<Translate> translate
@model TblHome

@{
	bool isEN = Helper.Func.IsLanguage("en");
	ViewData["Title"] = translate["label_trang_chu"];
	ViewData["InfoPage"] = isEN ? "Introduce" : "Giới thiệu";
	ViewData["TypePage"] = "Page_Index";

	Layout = Helper.Path.layoutUser;
	string _pv = Helper.Path.partialView;
	var mangroves = TempData["Mangroves"] as List<TblMangrove> ?? new List<TblMangrove>();
}

<section class="module_home_page py-2">
	<div class="container d-flex flex-column gap-3">
		<div class="frame_img">
			<img class="w-100 h-100 rounded-1 object-fit-cover" src="/img/logo/@Model.BannerImg" alt="">

			<div class="frame_title rounded-1 overflow-hidden">
				<h1 class="title m-0 px-2 text-center">
					@(isEN ? Model.BannerTitleEn : Model.BannerTitleVi)
				</h1>
			</div>

			<div class="frame_logo">
				<img class="logo" src="/img/logo/logo_ntu.png" alt="">
			</div>
		</div>

		<div class="frame_introduce">
			<p class="fw-bold fs-5 mb-2">@translate["label_muc_dich_website"]</p>
			<p class="content text-justify p-2">
				@Html.Raw(Helper.Func.Show(isEN ? Model.PurposeEn : Model.PurposeVi))
			</p>
		</div>

		<div class="frame_individual_recent">
			<p class="fw-bold fs-5 mb-2">@translate["label_cac_thanh_phan_gan_day"]</p>
			<div class="items d-flex flex-wrap">
				@{
					foreach (var item in mangroves)
					{
						<a href='@Url.Action("Page_Result", "Home", new { id = @item.Id })'
							class="item px-2 col-12 col-sm-6 col-lg-4 mt-3">
							<div class="rounded-1 overflow-hidden">
								<img class="w-100 h-100 hover_scale time_delay_500ms lazy-load" data-src="/img/tree-img/@item.MainImage"
									alt="">
							</div>
							<p class="text-center mt-1 color_green_hover">@(isEN ? "" : item.NameVi + " - ") @item.ScientificName</p>
						</a>
					}
				}
			</div>
		</div>
	</div>
</section>
