@inject IStringLocalizer<Translate> translate
@model HomePage_Client_VM
@{
	bool isEN = Helper.Func.IsEnglish();
	ViewData["Title"] = translate["label_trang_chu"];
	ViewData["InfoPage"] = $"{translate["label_gioi_thieu"]} ({translate["label_chi_xem"]})";
	ViewData["TypePage"] = "Page_Home";

	Layout = Helper.Path.layoutAdmin;
	string _pv = Helper.Path.partialView;
}

<section class="module_home_page py-2">
	<div class="container d-flex flex-column gap-3">
		<!-- Frame button -->
		<div class="d-flex justify-content-center mt-2 gap-2">
			<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageHomePage, true)"
					class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
				<i class="fa-solid fa-backward"></i>
				<span class="hidden_mobile">
					@translate["label_tro_ve"]
				</span> 
			</button>

			<a href="@Url.Action("Page_Index", "Home")"
				target="_blank"
			   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-warning opacity_hover">
				<i class="fa-solid fa-eye"></i>
				<span class="hidden_mobile">
					@translate["label_hien_thi"]
				</span>
			</a>

			<a href="@Url.Action("Page_IndexAdmin_Edit", "Home")"
			   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-tree opacity_hover btn_loading">
				<i class="fas fa-edit"></i>
				<span class="hidden_mobile">
					@translate["label_sua"]
				</span>
			</a>
		</div>

		<div class="frame_img shadow-sm rounded-1 overflow-hidden mb-3">
			<img class="w-100 h-100 object-fit-cover" src="/img/logo/@Model.BannerImage" alt="">

			<div class="frame_title rounded-1 overflow-hidden">
				<h1 class="title m-0 px-2 text-center">@Model.BannerTitle</h1>
			</div>

			<div class="frame_logo">
				@{
					foreach (var sponsor in Model.Sponsor)
					{
						string textTitle = (isEN ? sponsor.NoteImgEn : sponsor.NoteImgVi) ?? string.Empty;
						<img class="logo rounded-cricle" src="/img/spon-img/@sponsor.ImageName" alt="@textTitle" title="@textTitle">
					}
				}
			</div>
		</div>

		<div class="frame_introduce bg-white shadow-sm rounded-1 p-2 mb-3">
			<p class="fw-bold fs-5 mb-2">@Model.PurposeTitle</p>
			<p class="content border_detail_ text-justify my-2">
				@Html.Raw(Helper.Func.Show(Model.PurposeContent))
			</p>
		</div>

		<div class="frame_individual_recent shadown-sm rounded-1 bg-white">
			<p class="fw-bold fs-5 mb-2 p-2">@Model.LabelSpeciesCompositionRecent</p>
			<div class="items d-flex flex-wrap">
				@{
					foreach (var item in Model.Mangroves)
					{
						<a href='@Url.Action("Page_Result", "Home", new { id = @item.Id })'
						   onclick="@Helper.Link.JSSetUrlBack(Helper.Key.clientToPageResult)"
						   class="item px-2 col-12 col-sm-6 col-lg-4 mb-4 d-flex flex-column btn_loading">
							<div class="rounded-1 overflow-hidden flex-grow-1">
								<img class="w-100 h-100 scale_hover time_delay_500ms lazy-load" data-src="/img/tree-img/@item.Image"
									 alt="">
							</div>
							<p class="text-center mt-1 text_tree_hover">@item.Name</p>
						</a>
					}
				}
			</div>
		</div>

		<!-- Frame button -->
		<div class="d-flex justify-content-center mt-2 gap-2 mb-2">
			<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageHomePage, true)"
					class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
				<i class="fa-solid fa-backward"></i>
				<span class="hidden_mobile">
					@translate["label_tro_ve"]
				</span>
			</button>

			<a href="@Url.Action("Page_Index", "Home")"
			   target="_blank"
			   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-warning opacity_hover">
				<i class="fa-solid fa-eye"></i>
				<span class="hidden_mobile">
					@translate["label_hien_thi"]
				</span>
			</a>

			<a href="@Url.Action("Page_IndexAdmin_Edit", "Home")"
			   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-tree opacity_hover btn_loading">
				<i class="fas fa-edit"></i>
				<span class="hidden_mobile">
					@translate["label_sua"]
				</span>
			</a>
		</div>
	</div>
</section>
