@inject IStringLocalizer<Translate> translate
@model TblDistributiton

@{
	bool isEN = Helper.Func.IsEnglish();
	ViewData["Title"] = translate["label_phan_bo"];
	ViewData["InfoPage"] = translate["label_ban_do_phan_bo"] + $" ({translate["label_chi_xem"]})";
	ViewData["TypePage"] = "Page_Distribution";

	Layout = Helper.Path.layoutAdmin;
	string _pv = Helper.Path.partialView;
}

<section class="mod_detal_distribution mt-2">
	<div class="container py-2">
		<div class="card_detail rounded-1 bg-form">
			<div class="item py-2 rounded-1 d-flex flex-wrap gap-1 gap-lg-0 position-relative border_detail">
				<div class="add_img col-12 col-lg-6 add_img_min_height_ rounded-1 p-2">
					<p class="text-center text-black">
						@translate["label_hinh_anh"]
					</p>

					<div class="preview_img position-relative" style="height: calc(100% - 27px);">
						<img class="show_temp object-fit-cover mx-auto d-block rounded-1 click_show_image img_max_height"
							 src="/img/distribution-map-img/@Model.ImageMap"
							 alt="" />
					</div>
				</div>

				<div class="add_content col-12 col-lg-6 d-lg-flex flex-lg-wrap p-2">
					<p class="text-center col-12 align-self-start text-black">@translate["label_ten"]</p>

					<div class="add_content_item mt-1 m-lg-0 col-12">
						<small class="mb-1 d-block font-small text-black">@translate["label_tieng_anh"]</small>
						<span class="w-100 d-inline-block border-none outline-none bg-white px-2 py-1 rounded-1">@Model.MapNameEn</span>
					</div>

					<div class="add_content_item mt-1 m-lg-0 col-12">
						<small class="mb-1 d-block font-small text-black">@translate["label_tieng_viet"]</small>
						<span class="w-100 d-inline-block border-none outline-none bg-white px-2 py-1 rounded-1">@Model.MapNameVi</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Frame button -->
<div class="d-flex justify-content-center my-3 gap-2">
	<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageListIndex, true)"
			class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
		<i class="fa-solid fa-list"></i>
		<span class="hidden_mobile">
			@translate["label_quay_lai_danh_sach"]
		</span>
	</button>

	<a href="@Url.Action("Page_Edit", "Distribution", new { id = Model.Id })"
	   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-tree opacity_hover btn_loading">
		<i class="fas fa-edit"></i>
		<span class="hidden_mobile">
			@translate["label_sua"]
		</span>
	</a>

	<a href="@Url.Action("Page_Delete", "Distribution", new { id = Model.Id })"
	   class="px-3 py-2 border-none outline-none bg-danger rounded-1 text-white opacity_hover time_delay_500ms"
	   onclick="return confirm('@translate["label_text_xac_nhan_xoa"]');">
		<i class="fa-solid fa-trash"></i>
		<span class="hidden_mobile">
			@translate["label_xoa"]
		</span>
	</a>
</div>
