@inject IStringLocalizer<Translate> translate
@model TblDistributiton

@{
	ViewData["Title"] = translate["label_phan_bo"];
	ViewData["InfoPage"] = translate["label_ban_do_phan_bo"] + $" ({translate["label_duoc_chinh_sua"]})";
	ViewData["TypePage"] = "Page_Distribution";

	Layout = Helper.Path.layoutAdmin;
	string _pv = Helper.Path.partialView;

	bool haveImage = !string.IsNullOrEmpty(TempData["DataBase64"] as string ?? string.Empty);
	string dataType = TempData["DataType"] as string ?? string.Empty;
	string dataBase64 = TempData["DataBase64"] as string ?? string.Empty;

	string folder = dataBase64.Contains(Helper.Key.temp) ? "temp-img" : "distribution-map-img";
}

<section class="mod_detal_distribution mt-2">
	<div class="container py-2">
		<form class="rounded-1" action="" method="post">
			<input type="text" asp-for="@Model.Id" hidden />
			<input type="text" asp-for="@Model.ImageMap" hidden />

			<div class="item p-2 bg-form rounded-1 d-flex flex-wrap gap-1 gap-lg-0 position-relative border_detail shadow-sm">
				<div class="add_img col-12 col-lg-6 rounded-1">
					<p class="text-center text-black"><small class="text-danger">✶</small>@translate["label_hinh_anh"]</p>

					<div class="input_img bg-white d-flex justify-content-center align-items-center @(haveImage ? "d-none" : "") min_height_input_img rounded-1 green_effect">
						<button class="btn_add_img outline-none color-tree bg-transparent fs-1 px-4 py-2 border rounded-1 green_effect"
								type="button">
							<i class="icon_add fa-solid fa-plus"></i>
						</button>
						<input class="file" name="ImageFile" type="file" hidden />
						<div class="overflow-hidden w-h-0">
							<input class="image_type" name="dataType" value="@dataType" />
							<input class="image_data" name="dataBase64" value="@dataBase64" />
						</div>
					</div>

					<div class="preview_img position-relative @(haveImage ? "" : "d-none")">
						<img class="show_temp object-fit-cover mx-auto d-block rounded-1 click_show_image img_max_height"
							 src="/img/@folder/@dataBase64"
							 alt="" />

						<button class="btn_remove_preview_img"
								type="button">
							<i class="icon_remove fa-solid fa-xmark"></i>
						</button>
					</div>

					<p class="text-danger small_font text-center">@Helper.Validate.ShowError()</p>
				</div>

				<div class="add_content col-12 col-lg-6 d-lg-flex flex-lg-wrap p-2">
					<p class="text-center col-12 align-self-start text-black">@translate["label_vi_tri"]</p>

					<div class="add_content_item mt-1 m-lg-0 col-12">
						<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_tieng_anh"]</small>
						<input type="text" asp-for="@Model.MapNameEn" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>

					<div class="add_content_item mt-1 m-lg-0 col-12">
						<small class="mb-1 d-block font-small"><small class="text-danger">✶</small>@translate["label_tieng_viet"]</small>
						<input type="text" asp-for="@Model.MapNameVi" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
						<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
					</div>
				</div>
			</div>

			<!-- Frame button -->
			<div class="d-flex justify-content-center my-3 gap-2">
				<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageListIndex, true)"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
					<i class="fa-solid fa-list"></i>
					<span class="hidden_mobile">
						@translate["label_quay_lai_danh_sach"]
					</span>
				</button>

				<a href="@Url.Action("Page_Detail", "Distribution", new { id = Model.Id })"
				   class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg_blue opacity_hover btn_loading">
					<i class="fa-solid fa-circle-info"></i>
					<span class="hidden_mobile">
						@translate["label_chi_tiet"]
					</span>
				</a>

				<a href="@Url.Action("Page_Delete", "Distribution", new { id = Model.Id })"
				   class="px-3 py-2 border-none outline-none bg-danger rounded-1 text-white opacity_hover time_delay_500ms btn_loading"
				   onclick="return confirm('@translate["label_text_xac_nhan_xoa"]');">
					<i class="fa-solid fa-trash"></i>
					<span class="hidden_mobile">
						@translate["label_xoa"]
					</span>
				</a>

				<button type="submit" class="btn_submit_form px-3 py-2 border-none outline-none bg-tree rounded-1 text-white opacity_hover time_delay_500ms btn_loading">
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">@translate["label_luu"]</span>
				</button>
			</div>
		</form>
	</div>
</section>

