@inject IStringLocalizer<Translate> translate
@{
	ViewData["Title"] = translate["label_phan_bo"];
	ViewData["InfoPage"] = translate["label_ban_do_phan_bo"] + $" ({translate["label_them"]})";
	ViewData["TypePage"] = "Page_Distribution";

	Layout = Helper.Path.layoutAdmin;
	string pv = Helper.Path.partialView;

	var dataTypes = TempData["DataTypes"] as List<string> ?? new List<string>();
	var dataBase64s = TempData["DataBase64s"] as List<string> ?? new List<string>();
	var noteENs = TempData["NoteENs"] as List<string> ?? new List<string>();
	var noteVIs = TempData["NoteVIs"] as List<string> ?? new List<string>();
}

<input id="english" value="@translate["label_tieng_anh"]" hidden />
<input id="vietnamese" value="@translate["label_tieng_viet"]" hidden />
<input id="photo" value="@translate["label_hinh_anh"]" hidden />
<input id="description" value="@translate["label_vi_tri"]" hidden />

<section class="mod-add-mangrove">
	<div class="container py-2">
		<form action="" method="post" enctype="multipart/form-data">
			<!-- Maps -->
			<div class="frame_slide rounded-1 mb-2 box">
				<div class="toggle_title text-center mb-2 cursor-pointer position-sticky top-0" style="z-index: 4;">
					<h6 class="py-2 bg-black text-white rounded-1">
						@translate["label_ban_do"] (<span class="quantity_item">@(dataTypes.Any() ? dataTypes.Count() : 1)</span>/@Helper.Variable.maxItem)
					</h6>
				</div>

				<div class="info frame_items">
					<div class="items bg-form">
						@{
							if (!dataBase64s.Any())
							{
								<div class="add_item py-2 mb-3 rounded-1 d-flex flex-wrap gap-1 gap-lg-0 position-relative border_detail">
									<button class="btn_remove_item"
											type="button">
										<i class="icon_remove_item fa-solid fa-xmark"></i>
									</button>

									<div class="add_img col-12 col-lg-6 rounded-1 p-2">
										<p class="text-center text-black">@translate["label_hinh_anh"]</p>

										<div class="input_img bg-white d-flex justify-content-center align-items-center min_height_input_img rounded-1">
											<button class="btn_add_img outline-none color-tree bg-transparent fs-1 px-4 py-2 border rounded-1"
													type="button">
												<i class="icon_add fa-solid fa-plus"></i>
											</button>
											<input class="file" name="ImageFile" type="file" hidden />
											<div class="overflow-hidden w-h-0">
												<input class="image_type" name="dataTypes" />
												<input class="image_data" name="dataBase64s" />
											</div>
										</div>

										<div class="preview_img position-relative d-none">
											<img class="show_temp object-fit-cover mx-auto d-block rounded-1 click_show_image img_max_height w-100" alt="" />

											<button class="btn_remove_preview_img"
													type="button">
												<i class="icon_remove fa-solid fa-xmark"></i>
											</button>
										</div>
									</div>

									<div class="add_content col-12 col-lg-6 d-lg-flex flex-lg-wrap p-2">
										<p class="text-center col-12 align-self-start text-black">@translate["label_vi_tri"]</p>

										<div class="add_content_item mt-1 col-12">
											<small class="mb-1 d-block font-small">@translate["label_tieng_anh"]</small>
											<input type="text" name="noteENs" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
										</div>

										<div class="add_content_item mt-1 col-12">
											<small class="mb-1 d-block font-small">@translate["label_tieng_viet"]</small>
											<input type="text" name="noteVIs" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" />
										</div>
									</div>
								</div>
							}
							else
							{
								for (int i = 0; i < dataTypes.Count(); i++)
								{
									var dataType = dataTypes[i];
									var dataBase64 = dataBase64s[i];
									var noteEN = noteENs[i];
									var noteVI = noteVIs[i];

									bool haveImage = !string.IsNullOrEmpty(dataBase64);

									<div class="add_item py-2 mb-3 rounded-1 d-flex flex-wrap gap-1 gap-lg-0 position-relative border_detail">
										<button class="btn_remove_item"
												type="button">
											<i class="icon_remove_item fa-solid fa-xmark"></i>
										</button>

										<div class="add_img col-12 col-lg-6 rounded-1 p-2">
											<p class="text-center text-black">@translate["label_hinh_anh"]</p>

											<div class="input_img @(haveImage ? "d-none" : "") bg-white d-flex justify-content-center align-items-center min_height_input_img rounded-1">
												<button class="btn_add_img outline-none color-tree bg-transparent fs-1 px-4 py-2 border rounded-1"
														type="button">
													<i class="icon_add fa-solid fa-plus"></i>
												</button>
												<input class="file" name="ImageFile" type="file" hidden />
												<div class="overflow-hidden w-h-0">
													<input class="image_type" name="dataTypes" value="@dataType" />
													<input class="image_data" name="dataBase64s" value="@dataBase64" />
												</div>
											</div>

											<div class="preview_img position-relative @(haveImage ? "" : "d-none")">
												<img class="show_temp object-fit-cover mx-auto d-block rounded-1 click_show_image img_max_height w-100"
													 src="/img/temp-img/@dataBase64"
													 alt="" />

												<button class="btn_remove_preview_img"
														type="button">
													<i class="icon_remove fa-solid fa-xmark"></i>
												</button>
											</div>

											<p class="text-danger small_font text-center">@Helper.Validate.ShowError()</p>
										</div>

										<div class="add_content col-12 col-lg-6 d-lg-flex flex-lg-wrap align-items-lg-center p-2">
											<p class="text-center col-12 align-self-start text-black">@translate["label_vi_tri"]</p>

											<div class="add_content_item mt-1 col-12">
												<small class="mb-1 d-block font-small">@translate["label_tieng_anh"]</small>
												<input type="text" name="noteENs" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" value="@noteEN" />
												<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
											</div>

											<div class="add_content_item mt-1 col-12">
												<small class="mb-1 d-block font-small">@translate["label_tieng_viet"]</small>
												<input type="text" name="noteVIs" class="w-100 border-none bg-white green_effect px-2 py-1 rounded-1 text_body" value="@noteVI" />
												<p class="text-danger small_font">@Helper.Validate.ShowError()</p>
											</div>
										</div>
									</div>
								}
							}
						}
					</div>

					<div class="text-center py-2">
						<button id="btn_add_item1"
							class="btn_add_item bg-black text-white rounded-1 border-none px-3 py-2"
								type="button"
								onclick="item.addItem('#btn_add_item1');">
							<i class="fa-solid fa-plus"></i>
							@translate["label_them_anh"]
						</button>
					</div>
				</div>
			</div>

			<!-- Frame button -->
			<div class="d-flex justify-content-center my-3 gap-2">
				<button type="button" onclick="@Helper.Link.ScriptGetUrlBack(Helper.Key.adminToPageListIndex, true)"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text_body bg-white opacity_hover btn_loading">
					<i class="fa-solid fa-list"></i>
					<span class="hidden_mobile">@translate["label_quay_lai_danh_sach"]</span>
				</button>

				<button type="button" onclick="location.href = location.href;"
						class="px-3 py-2 border-none outline-none rounded-1 time_delay_500ms text-white bg-secondary opacity_hover btn_loading">
					<i class="fa-solid fa-eraser"></i>
					<span class="hidden_mobile">@translate["label_xoa_sach"]</span>
				</button>

				<button type="submit" class="btn_submit_form px-3 py-2 border-none outline-none bg-tree rounded-1 text-white opacity_hover time_delay_500ms btn_loading">
					<i class="fa-solid fa-floppy-disk"></i>
					<span class="hidden_mobile">@translate["label_luu"]</span>
				</button>
			</div>
		</form>
	</div>
</section>	